@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/base";

.block__orders-list {
  @extend %layout__wrapper;
  margin-bottom: $margin--huge;
  padding-top: $margin--big;

  .container {
    @extend %layout__container;
    min-height: 60vh;
  }
  .header {
    @extend %header--main;
  }
  .filters {
    margin-bottom: $margin--big;
  }
  .link {
    background-color: transparent;
    border: none;
    @extend %link--bordered;
    text-transform: uppercase;
    font-size: $normal-text__font-size--small;
    letter-spacing: $header-text__letter-spacing;
    position: relative;
  }
  .link--active {
    @extend .link;
    font-weight: $normal-text__font-weight--bold;
    border-bottom: 1px solid $color__base--blue;
  }
  .card-account {
    @extend %card-account;
    &__container--left {
      @extend %card-account__container--left;
    }
    &__container--right {
      @extend %card-account__container--right;
    }
    &__header {
      @extend %card-account__header;
      position: relative;
      justify-self: flex-start;
    }
    &__icon-wrapper {
      @extend %card-account__icon-wrapper;
    }
    &__info {
      @extend %card-account__info;
    }
    &__info--important {
      @extend %card-account__info--important;
    }
    &__link {
      @extend %card-account__link;
    }
    &__message-notification {
      cursor: pointer;
      text-decoration: none;
      border: none;
      @extend %haf--opacity;
    }
    &__message-notification--unread {
      @extend .card-account__message-notification;
      border-radius: 1rem;
      padding: .6rem;
      height: .5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #3399ff;
      color: #ffffff;
    }

  }
  .notification {
    @extend %notification;
    min-height: 0;
    min-width: 0;
    height: auto;
    padding: 0 .2rem;
    top: -1rem;
    right: -1rem;
    text-transform: lowercase;
    border-radius: .4rem;
  }

}



