<div class="block__orders-list">
  <div class="container">
    <ng-container *ngIf="this.userService.user.userType === userTypes.user">
      <div class="filters">
        <button [ngClass]="(showUserOrders === 'opened') ? 'link--active' : 'link'"
                (click)="showUserOpenedOrders()">Открытые заказы
        </button>
        <button [ngClass]="(showUserOrders === 'canceled') ? 'link--active' : 'link'"
                (click)="showUserClosedOrders()">Закрытые заказы
        </button>
      </div>
      <div class="card-account" *ngFor="let order of userOrders">
        <div class="card-account__container--left">
          <h3 class="card-account__header">
            {{order.orderName}}
          </h3>
          <a routerLink="/account/order/{{order._id}}" class="card-account__link">Подробнее</a>
        </div>
        <div class="card-account__container--right">
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-note"></i>
                <b class="card-account__info--important">Сообщения: </b>
          </span>
            <a class="card-account__message-notification"
               routerLink="/account/order/{{order._id}}/messages">
              {{order.orderMessages.length-1}}
            </a>
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-business"></i>
                <b class="card-account__info--important">Стоимость:</b>
          </span>
            {{order.orderCost}} &#8381;
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">ID заказа:</b>
          </span>
            #{{order._id}}
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Срок выполнения:</b>
          </span> {{order.orderDeadLine}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Статус оплаты:</b>
          </span> {{order.orderPaymentStatus}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Дата заявки:</b>
          </span> {{order.orderDataOpened | date:"dd.MM.yyyy"}}</p>

          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                 <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Статус заказа:</b>
          </span> {{order.orderWorkStatus}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Дата оплаты:</b>
          </span>
            <ng-container *ngIf="order.orderDataPayment !== null">
              {{order.orderDataPayment | date:"dd.MM.yyyy"}}
            </ng-container>
            <ng-container *ngIf="order.orderDataPayment === null">
              не оплачено
            </ng-container>
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container
      *ngIf="this.userService.user.userType === this.userTypes.employee ||
      this.userService.user.userType === this.userTypes.manager ||
      this.userService.user.userType === this.userTypes.root">
      <div class="filters">
        <button [ngClass]="(showOrders === 'opened') ? 'link--active' : 'link'"
                (click)="showOpenedOrders()">Открытые заявки
        </button>
        <button [ngClass]="(showOrders === 'canceled') ? 'link--active' : 'link'"
                (click)="showCanceledOrders()">Отменённые заявки
        </button>
        <button [ngClass]="(showOrders === 'closed') ? 'link--active' : 'link'"
                (click)="showClosedOrders()">Выполненные заказы
        </button>
      </div>
      <div class="card-account" *ngFor="let order of allOrders">
        <div class="card-account__container--left">
          <h3 class="card-account__header">
            {{order.orderName}}
            <span *ngIf="order.orderNotViewed === true" class="notification">Новый</span>
          </h3>
          <a routerLink="/account/order/{{order._id}}" class="card-account__link">Подробнее</a>
        </div>
        <div class="card-account__container--right">
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-note"></i>
                <b class="card-account__info--important">Сообщения: </b>
          </span>
            <a class="card-account__message-notification"
               routerLink="/account/order/{{order._id}}/messages">
              {{order.orderMessages.length-1}}
            </a>
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-business"></i>
                <b class="card-account__info--important">Стоимость:</b>
          </span>
            {{order.orderCost}} &#8381;
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">ID заказа:</b>
          </span>
            #{{order._id}}
          </p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Срок выполнения:</b>
          </span> {{order.orderDeadLine}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Статус оплаты:</b>
          </span> {{order.orderPaymentStatus}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Дата заявки:</b>
          </span> {{order.orderDataOpened | date:"dd.MM.yyyy"}}</p>

          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                 <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Статус заказа:</b>
          </span> {{order.orderWorkStatus}}</p>
          <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Дата оплаты:</b>
          </span>
            <ng-container *ngIf="order.orderDataPayment !== null">
              {{order.orderDataPayment | date:"dd.MM.yyyy"}}
            </ng-container>
            <ng-container *ngIf="order.orderDataPayment === null">
              не оплачено
            </ng-container>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
