<div class="menu--account">
  <div class="container">
    <nav class="menu">
      <span *ngIf="user.userType === userTypes.user">
        <a routerLink="/account/orders-list"
           routerLinkActive="active"
           class="link"
        >заказы</a>
        <a routerLink="/account/payments-list" routerLinkActive="active" class="link">платежи</a>
        <a routerLink="/account/help" routerLinkActive="active" class="link">техподдержка</a>
      </span>
      <span *ngIf="user.userType === userTypes.employee">
        <a routerLink="/account/orders-list"
           routerLinkActive="active"
           class="link"
        >заказы
          <span *ngIf="notification.ordersNew.length-1 > 0"
                class="notification">{{notification.ordersNew.length-1}}</span></a>
        <a routerLink="/account/tasks-list"
           routerLinkActive="active"
           class="link">задачи
          <span *ngIf="notification.tasksNew.length-1 > 0"
                class="notification">{{notification.tasksNew.length-1}}</span></a>
        <a routerLink="/account/payments-list"
           routerLinkActive="active"
           class="link">платежи
                    <span *ngIf="notification.paymentsNew.length-1 > 0"
                          class="notification">{{notification.paymentsNew.length-1}}</span></a>
        <a routerLink="/account/clients-list" routerLinkActive="active" class="link">клиенты</a>
        <a routerLink="/account/help"
           routerLinkActive="active"
           class="link">техподдержка
                    <span *ngIf="notification.helpsNew.length-1 > 0"
                          class="notification">{{notification.helpsNew.length-1}}</span></a>
      </span>
      <span *ngIf="user.userType === userTypes.manager">
        <a routerLink="/account/orders-list"
           routerLinkActive="active"
           class="link"
        >заказы<span *ngIf="notification.ordersNew.length-1 > 0"
                     class="notification">{{notification.ordersNew.length-1}}</span></a>

        <a routerLink="/account/tasks-list"
           routerLinkActive="active"
           class="link">задачи
          <span *ngIf="notification.tasksNew.length-1 > 0"
                class="notification">{{notification.tasksNew.length-1}}</span></a>
        <a routerLink="/account/payments-list"
           routerLinkActive="active"
           class="link">платежи
                    <span *ngIf="notification.paymentsNew.length-1 > 0"
                          class="notification">{{notification.paymentsNew.length-1}}</span></a>
        <a routerLink="/account/clients-list" routerLinkActive="active" class="link">клиенты</a>
        <a routerLink="/account/help"
           routerLinkActive="active"
           class="link">техподдержка
                    <span *ngIf="notification.helpsNew.length-1 > 0"
                          class="notification">{{notification.helpsNew.length-1}}</span></a>
        <a routerLink="/account/employees-list" routerLinkActive="active" class="link">сотрудники</a>
      </span>
      <span *ngIf="user.userType === userTypes.root">
        <a routerLink="/account/orders-list"
           routerLinkActive="active"
           class="link"
        >заказы<span *ngIf="notification.ordersNew.length-1 > 0"
                     class="notification">{{notification.ordersNew.length-1}}</span></a>

        <a routerLink="/account/tasks-list"
           routerLinkActive="active"
           class="link">задачи
          <span *ngIf="notification.tasksNew.length-1 > 0"
                class="notification">{{notification.tasksNew.length-1}}</span></a>
        <a routerLink="/account/payments-list"
           routerLinkActive="active"
           class="link">платежи
                    <span *ngIf="notification.paymentsNew.length-1 > 0"
                          class="notification">{{notification.paymentsNew.length-1}}</span></a>
        <a routerLink="/account/clients-list" routerLinkActive="active" class="link">клиенты</a>
        <a routerLink="/account/help"
           routerLinkActive="active"
           class="link">техподдержка
                    <span *ngIf="notification.helpsNew.length-1 > 0"
                          class="notification">{{notification.helpsNew.length-1}}</span></a>
        <a routerLink="/account/employees-list" routerLinkActive="active" class="link">сотрудники</a>
        <a routerLink="/account/create-user" routerLinkActive="active" class="link">создать пользователя</a>
      </span>
      <a routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" class="link link--account"><i class="fi flaticon-tool"></i>настройки</a>
    </nav>
  </div>
</div>
