@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.menu--account {
  @extend %layout__wrapper;
  padding-top: 0;
  transition: all .68s ease-out;
  background-color: rgba($color__white--d2, $opacity--bg);
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  .container {
    @extend %layout__container;
    padding: $padding--big;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .link {
    @extend %link--bordered;
    text-transform: uppercase;
    font-size: $normal-text__font-size--small;
    letter-spacing: $header-text__letter-spacing;
    position: relative;
    &.link--account {
      margin-right: 0;
      display: inline-flex;
    }
    &.active {
      font-weight: $normal-text__font-weight--bold;
      border-color: $color__base--blue;
    }
  }
  .btn {
    @extend %btn;
    align-self: center;
    &:last-child {
      margin: 0;
    }
  }
  .fi{
    font-size: $icon--size;
    margin-right: $icon--margin--right;
    color: $color__base--blue;
    text-align: center;
    line-height: $icon--size;
  }
  .notification{
    @extend %notification;
  }
}

