<div class="block__tasks-list">
  <div class="container">
    <div class="filters">
      <button [ngClass]="(showTasks === 'executor') ? 'link--active' : 'link'"
              (click)="showExecutorTasks()">Поставленные мне
      </button>
      <button [ngClass]="(showTasks === 'creator') ? 'link--active' : 'link'"
              (click)="showCreatorTasks()">Поставленные мной
      </button>
    </div>
    <div class="card-account" *ngFor="let task of showedTasks">
      <div class="card-account__container--left">
        <h3 class="card-account__header">
          {{task.taskName}}
        </h3>
        <a routerLink="/account/task/{{task._id}}" class="card-account__link">Подробнее</a>
      </div>
      <div class="card-account__container--right">
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                 <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">Постановщик задачи:</b>
          </span> {{task.taskCreatorName}}</p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">ID заказа:</b>
          </span>
          #{{task.taskTargetOrderId}}
        </p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Статус задачи:</b>
          </span> {{task.taskStatus}}</p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">ID клиента: </b>
          </span>
          #{{task.taskTargetUserId}}
        </p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="card-account__info--important">Приоритет задачи:</b>
          </span> {{task.taskPriority}}</p>
        <p class="card-account__info">
                    <span class="card-account__icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="card-account__info--important">ID постановщика заказа:</b>
          </span>
          #{{task.taskCreatorId}}
        </p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                 <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Срок выполнения задачи до:</b>
          </span> {{task.taskDeadline}}</p>
        <p class="card-account__info">
          <span class="card-account__icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="card-account__info--important">Дата постановки задачи:</b>
          </span> {{task.taskDataOpened | date:"dd.MM.yyyy"}}</p>

      </div>
    </div>
  </div>
</div>
