<div class="block__messages">
  <div class="container">

    <div class="container--btns">
      <!-- CancelOrderForm need for use messages in cancel order with comment cycle -->
      <a class="btn--big"
         *ngIf="!edit && this.messageService.cancelOrderForm  === true"
         routerLink="/account/order/{{orderId}}"
         (click)="closeOrderCancelForm()">назад</a>
      <a class="btn--big"
         *ngIf="!edit && this.messageService.cancelOrderForm  === false"
         routerLink="/account/order/{{orderId}}">назад</a>
      <button class="btn--big" (click)="closeEditionMessage()" *ngIf="edit">назад</button>
    </div>

    <h1 class="header--order">{{orderName}}</h1>
    <span class="info"><b class="info--important">ID ЗАКАЗА:</b> #{{orderId}}</span>
    <ng-container *ngIf="!edit">
      <ng-container class="message--history" *ngFor="let message of this.messageService.messagesList">
        <form class="message--history" #MessagesPageFormHistory="ngForm" novalidate>
          <ng-container *ngIf="message.messageCreatorType === userTypes.user;else manager">
            <label class="creator">Клиент</label>
          </ng-container>
          <ng-template #manager>
            <label class="creator">Менеджер</label>
          </ng-template>
          <p class="text">{{message.messageContent}}</p>
          <div class="container--message--btns">
            <button class="btn"
                    type="submit"
                    (click)="editMessage(message._id)">
              Редактировать
            </button>
            <button class="btn"
                    type="submit"
                    (click)="deleteMessage(message._id)">
              Удалить
            </button>
          </div>
        </form>
      </ng-container>
      <div class="message--new">
        <form class="form" #MessagesPageFormNew="ngForm" novalidate>
          <label class="label" for="messageContentFieldText" *ngIf="this.messageService.cancelOrderForm  === false">Новое
            сообщение</label>
          <label class="label" for="messageContentFieldText" *ngIf="this.messageService.cancelOrderForm === true">Напишите
            причину отмены заказа</label>
          <textarea class="textarea"
                    [(ngModel)]="messageContent"
                    id="messageContentFieldText"
                    name="messageContentFieldText"
                    placeholder="Введите текст сообщения..."></textarea>
          <button class="btn--big"
                  type="submit"
                  (click)="createMessage()"
                  *ngIf="this.messageService.cancelOrderForm  === false">
            Отправить
          </button>
          <button class="btn--big"
                  type="submit"
                  (click)="cancelOrderAndCreateMessage()"
                  *ngIf="this.messageService.cancelOrderForm === true">
            Отменить заказ
          </button>
        </form>
      </div>
    </ng-container>
    <div class="message--new" *ngIf="edit">
      <form class="form" #MessagesPageFormUpdate="ngForm" novalidate>
        <label class="label" for="messageContentUpdateFieldText">Изменить сообщение</label>
        <textarea class="textarea"
                  [(ngModel)]="messageContentUpdate"
                  id="messageContentUpdateFieldText"
                  name="messageContentFieldText"
                  rows="10"
        >{{messageContentUpdate}}</textarea>
        <button class="btn--big"
                type="submit"
                (click)="updateMessage(messageIdForUpdate)">
          Отправить
        </button>
      </form>
    </div>
  </div>

</div>
