@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.block__messages {
  @extend %layout__wrapper;
  padding: $padding--huge 0;
  .container {
    @extend %layout__container;
    min-height: 65vh;
  }
  .header--order {
    @extend %header--sub;
    margin-top: 0;
  }
  .container--btns {
    @extend %layout__btns;
    .btn:last-child {
      margin-right: 0;
    }
  }

  .container--message--btns {
    margin: $margin--big 0 $margin--base;
  }

  .btn {
    @extend %btn;

    align-self: start;
    justify-self: start;
  }

  .btn--big {
    @extend %btn--big;
    align-self: start;
    justify-self: start;
    margin-bottom: $margin--big;
  }

  .info {
    @extend %card-account__info;

    display: block;
  }
  .icon-wrapper {
    @extend %card-account__icon-wrapper;
  }
  .info--important {
    @extend %card-account__info--important;
  }

  .message--new {
    @extend %card-account;
    display: block;
    padding: $padding--base $padding__big;
    background-color: rgba($color__white--d2, $opacity--bg);
    margin: $margin--big 0;
  }

  .message--history {
    @extend .message--new;
    display: flex;
    flex-direction: column;
  }

  .form {
    @extend %form--sending;
  }

  .creator {
    font-size: 1rem;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--normal;
    text-transform: uppercase;
    color: $color__black--l2;
    letter-spacing: 2px;
    margin: $margin--base 0;
  }

  .input {
    border: none;
    background: transparent;
    font-size: 1rem;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--bold;
    text-transform: uppercase;
    color: $color__black--l1;
  }

  .textarea {
    @extend %textarea;
  }

  .label {
    @extend %label--col-2;
  }

  .text {
    border: none;
    background: transparent;
    font-size: 1rem;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--bold;
    text-transform: uppercase;
    color: $color__black--l1;
  }

  .notes__text {
    display: block;
    font-size: $normal-text__font-size;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--normal;
    font-style: italic;
    color: $color__black--l1;
    background-color: transparent;
  }

}
