@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.menu--main {
  @extend %layout__wrapper;
  padding-top: $padding--huge;
  transition: all .355s ease-in-out;

  &.authenticated {
    padding-top: 0;
    background-color: rgba($color__white--d3, $opacity--bg);
    border-bottom: 1px solid rgba(128, 128, 128, 0.12);
  }
  .container {
    @extend %layout__container;
    padding: $padding--big;
  }
  .logo {
    @extend %logo;
    .logo__second-word {
      @extend %logo__second-word;
    }
  }
  .wrapper {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto 1fr;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .link {
    @extend %link--bordered;
  }
  .btn {
    @extend %btn;
    align-self: center;
    &:last-child {
      margin: 0;
    }
  }
}

