<div class="menu--main" [class.authenticated]="isUserAuthenticated && route.includes('/account')">
  <div class="container">
    <nav class="wrapper">
      <a routerLink="/" class="logo">отличный<span class="logo__second-word">сервис</span></a>
      <nav class="menu">
        <a routerLink="/personal" class="link">частным лицам</a>
        <a routerLink="/startup" class="link">начало бизнеса</a>
        <a routerLink="/business" class="link">юр. лицам</a>
        <a routerLink="/about" class="link">о компании</a>
        <a routerLink="/registration" *ngIf="isUserAuthenticated === false"
           class="btn">регистрация</a>
        <a routerLink="/login" *ngIf="isUserAuthenticated === false" class="btn">войти</a>
        <a routerLink="/account/orders-list" *ngIf="isUserAuthenticated === true" class="btn">аккаунт</a>
        <a routerLink="/" (click)="this.authenticationService.logout()"
              *ngIf="isUserAuthenticated === true" class="btn">выйти</a>
      </nav>
    </nav>
  </div>
</div>
