@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.block__registration-form {
  @extend %card-big__container;
  .header--main {
    @extend %card-big__header;
  }
  .container--right {
    @extend %card-big__container--right;
  }
  .container--left {
    @extend %card-big__container--left;
    background-image: url(/assets/img/form--registration--bg.jpg);
    background-position: bottom left;
  }
  .form {
    @extend %card-big__form;
  }
  .label {
    @extend %card-big__label;
  }
  .input {
    @extend %card-big__input;
  }
  .input.ng-invalid {
    color: complement($color__blue--d2);
  }
  .input--select {
    @extend %card-big__input--select;
  }
  .text {
    @extend %card-big__text;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .link {
    @extend %link--text;
  }
  .btn {
    @extend %btn--big;
    align-self: center;
    margin-bottom: $margin--base;
  }
  .pop-up__wrapper {
    @extend %pop-up__wrapper;
  }
  .pop-up__container {
    @extend %pop-up__container;
  }
  .pop-up__text {
    @extend %pop-up__text;
  }
  .pop-up__btn-close {
    @extend %pop-up__btn-close;
  }

}

