<div class="block__registration-form">

  <div class="container--left">
    <h2 class="header--main">Давайте создадим Ваш личный кабинет</h2>
  </div>
  <div class="container--right">
    <form class="form"
          #registrationForm="ngForm"
    >
      <label class="label" for="registrationFormEmail">Email:</label>
      <input class="input"
             name="registrationFormEmail"
             id="registrationFormEmail"
             [(ngModel)]="userEmail"
             #registrationFormEmail="ngModel"
             type="email"
             required
      />
      <label class="label" for="registrationFormPassword">Пароль (не менее 8 символов):</label>
      <input class="input"
             name="registrationFormPassword"
             id="registrationFormPassword"
             type="password"
             [(ngModel)]="userPassword"
             #registrationFormPassword="ngModel"
             minlength="8"
             required/>
      <label class="label" for="registrationFormPasswordConfirm">Введите пароль ещё раз во избежание ошибок:</label>
      <input class="input"
             name="registrationFormPasswordConfirm"
             id="registrationFormPasswordConfirm"
             [(ngModel)]='userPasswordConfirm'
             #registrationFormPasswordConfirm="ngModel"
             type="password"
             minlength="8"
             required/>
      <ng-container *ngIf="this.userService.user.userType === userTypes.root">
        <label class="label" for="registrationFormUserType">Выберете тип пользователя</label>
        <select class="input--select"
                [(ngModel)]="userType"
                id="registrationFormUserType"
                name="registrationFormUserType"
        >
          <option *ngFor="let userType of userTypesList" [value]="userType">{{userType}}</option>
        </select>
        <label class="label" for="registrationFormUserName">Имя и фамилия пользователя:</label>
        <input class="input"
               name="registrationFormUserName"
               id="registrationFormUserName"
               [(ngModel)]='userName'
               #registrationFormUserName="ngModel"
               type="text"/>
        <label class="label" for="registrationFormUserDepartment">Отдел:</label>
        <input class="input"
               name="registrationFormUserDepartment"
               id="registrationFormUserDepartment"
               [(ngModel)]='userDepartment'
               #registrationFormUserName="ngModel"
               type="text"/>
      </ng-container>
      <div class="wrapper--btn">
        <button class="btn"
                type="submit"
                *ngIf="registrationFormEmail.valid &&
           registrationFormPassword.valid &&
            registrationFormPassword.value === registrationFormPasswordConfirm.value"
                (click)="onSubmit()">
          Создать
        </button>

        <button class="btn"
                *ngIf="registrationFormEmail.invalid ||
           registrationFormPassword.invalid ||
            registrationFormPassword.value !== registrationFormPasswordConfirm.value"
                (click)="showPopUps()"
        >
          Создать
        </button>
        <p class="text">Нажимая кнопку «Создать», вы принимаете
          <a class="link">условия обработки персональных данных.
          </a>
        </p>
      </div>

      <div class="pop-up__wrapper">
        <div class="pop-up__container"
             [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorEmail  &&
               (registrationFormEmail.invalid || registrationFormEmail.pristine)) ?
               'show' : 'hide'">
          <button class="pop-up__btn-close" (click)="closePopUp('errorEmail')"></button>
          <p class="pop-up__text">Пожалуйста, заполните поле email.</p>
        </div>
        <div class="pop-up__container"
             [@showBlock]="
               (this.showPopUp &&
               popUpMessagesStates.errorPassword &&
               (registrationFormPassword.invalid || registrationFormPassword.pristine)) ?
                'show' : 'hide'"
        >
          <button class="pop-up__btn-close" (click)="closePopUp('errorPassword')"></button>
          <p class="pop-up__text">Пароль не может быть меньше 8 символов. Пожалуйста, введите другой пароль.</p>
        </div>
        <div class="pop-up__container"
             [@showBlock]="
              (this.showPopUp &&
              popUpMessagesStates.passwordConfirmError &&
              (registrationFormPassword.valid &&
              (registrationFormPassword.value !== registrationFormPasswordConfirm.value))) ?
               'show' : 'hide'">
          <button class="pop-up__btn-close" (click)="closePopUp('passwordConfirmError')"></button>
          <p class="pop-up__text">Пароль и его подтверждение не совпадают.<br> Пожалуйста, проверьте правильность
            ввода.
          </p>
        </div>

        <div class="pop-up__container"
             [@showBlock]="
              (registrationFormEmail.valid && this.registrationService.haveError) ?
               'show' : 'hide'">
          <button class="pop-up__btn-close" (click)="closePopUp('errorServer')"></button>
          <p class="pop-up__text">{{this.registrationService.errorText}}
          </p>
        </div>
      </div>

    </form>
  </div>
</div>
