<footer class="block__footer">
  <div class="container">
    <a class="logo" routerLink='/'>отличный<span
      class="logoSecondWord">сервис</span></a>
    <div class="menu">
      <a class="link" routerLink='/personal'>частным лицам</a>
      <a class="link" routerLink='/startup'>начало бизнеса</a>
      <a class="link" routerLink='/business'>юр. лицам</a>
      <a class="link" routerLink='/about'>о компании</a>
    </div>
    <div class="menu">
      <a class="link" routerLink='/3ndfl'>налоговый вычет 3 НДФЛ</a>
      <a class="link" routerLink='/personal'>ипотечное кредитование</a>
      <a class="link" routerLink='/personal'>кредитная история</a>
      <a class="link" routerLink='/personal'>детектив</a>
    </div>


    <div class="address">
      <span class="header">Контакты: </span>
      <span class="information">г. Санкт-Петербург, ул. Рузовская, д. 16 лит А</span>
      <span class="information"><span class="important">тел/факс:</span><a class="link"
                                                                                         href="tel:+78123320093">+7 (812) 332-00-93</a></span>
      <span class="information"><span class="important">e-mail:</span> <a class="link"
                                                                                        href="mailto:get@otlservice.ru">get@otlservice.ru</a></span>
    </div>

    <div class="official-info">
      <p class="text">Этот сайт использует файлы cookies для более комфортной работы пользователя. Продолжая
        просмотр страниц сайта, вы соглашаетесь с их использованием и даёте своё согласие ООО «Отличный сервис» на
        обработку Ваших персональных данных на условиях и для целей, определенных
        <a class="link" routerLink="/privacy-policy"> «Политикой конфиденциальности»</a>.
      </p>
    </div>
  </div>
</footer>
