@import '../../sass/variables';
@import '../../sass/base';
@import '../../sass/mixins';
@import '../../sass/flaticon';

.block__footer {
  @extend %layout__wrapper;
  padding: $padding__huge 0;
  background-color: $color__white--d2;
  .container {
    @extend %layout__container;
    display: grid;
    grid-column-gap: $margin__huge;
    grid-row-gap: $margin__base;
    grid-template-columns: 3fr 2fr 3fr 5fr;
    grid-template-rows: auto 1fr;
  }
  %logo {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: $header-text__font-family;
    font-weight: $header-text__font-weight--bold;
    color: $color__base--black;
    text-decoration: none;
  }

  .logo {
    /* user this inheritance for solve doble hover on second world */
    @extend %logo;
    @extend %haf--opacity;
    grid-row: 1;
  }

  .logoSecondWord {
    @extend .logo;

    font-weight: $header-text__font-weight--light;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row: 1;
    .link {
      @extend %link--bordered;

      margin: 0 $margin__base $margin__small 0;
    }
  }
  .address {
    display: flex;
    grid-row: 1;
    align-items: flex-start;
    flex-direction: column;
    .information {
      display: block;
      font-size: 1rem;
      line-height: $normal-text__line-height;
      font-family: $normal-text__font-family;
      font-weight: $normal-text__font-weight--normal;
      padding-bottom: $padding__small;
      margin-bottom: $margin__small;
      border-bottom: 1px solid transparent;
      color: $color__base--black;
    }
    .header {
      @extend .information;

      font-size: 1rem;
      padding-bottom: $padding__small;
      text-transform: uppercase;
      font-weight: $normal-text__font-weight--bold;
      letter-spacing: $header-text__letter-spacing;
      border-bottom: 1px solid transparent;
    }
    .important {
      @extend .information;
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      margin-right: $margin__small;
    }
    .link {
      @extend %link--text;
    }
  }
  .official-info {
    grid-column: 2/5;
    .text {
      font-size: $normal-text__font-size--small;
      line-height: $normal-text__line-height;
      font-family: $normal-text__font-family;
      font-weight: $normal-text__font-weight--normal;
      margin-bottom: 0;
    }
    .link {
      @extend %link--text;
      font-size: $normal-text__font-size--small;
    }
  }
}
