<header class="block__header">
  <div class="container">
    <h1 class="header">Надежный тыл в ваших делах
    </h1>
    <h3 class="text--promo">Какие бы услуги Вам не понадобились, какие бы задачи перед Вами не стояли,
      «Отличный сервис» о них позаботиться</h3>
  </div>
</header>
<div class="block__cards--service">
  <div class="container">
    <div class="cards">
      <div class="card--personal">
        <h2 class="header">Частным лицам</h2>
        <a class="btn" routerLink='/personal'>Подробнее</a>
      </div>
      <div class="card--startup">
        <h2 class="header">Начало бизнеса</h2>
        <a routerLink="/startup" class="btn">Подробнее</a>
      </div>
      <div class="card-business">
        <h2 class="header">Юридическим лицам</h2>
        <a routerLink="/business" class="btn">Подробнее</a>
      </div>
    </div>
  </div>
</div>
<div class="block__icons--service">
  <div class="container">
    <h3 class="header">Высокий уровень сервиса</h3>
    <div class="container--icons">
      <div class="block">
        <i class="icon--window"></i>
        <div class="block--text">
          <h3 class="header">Одно окно</h3>
          <p class="text">Все в одном месте - ничто не потеряется и не перепутается.</p>
        </div>
      </div>
      <div class="block">
        <i class="icon--docs"></i>
        <div class="block--text">
          <h3 class="header">Документы</h3>
          <p class="text">Мы сами готовим все необходимые документы.</p>
        </div>
      </div>
      <div class="block">
        <i class="icon--result"></i>
        <div class="block--text">
          <h3 class="header">Результат</h3>
          <p class="text">Мы знаем, что спросить и что делать, чтобы Вы получили результат.</p>
        </div>
      </div>
      <div class="block">
        <i class="icon--service247"></i>
        <div class="block--text">
          <h3 class="header">Сервис 24/7</h3>
          <p class="text">Поддержка доступна круглосуточно. Не откладывай дела!</p>
        </div>
      </div>
      <div class="block">
        <i class="icon--credit-card"></i>
        <div class="block--text">
          <h3 class="header">Оплата онлайн</h3>
          <p class="text">Оплатите все услуги не выходя из дома. Быстро и безопасно.</p>
        </div>
      </div>
      <div class="block">
        <i class="icon--mobile"></i>
        <div class="block--text">
          <h3 class="header">Удобство</h3>
          <p class="text">Воспользуйтесь нашим сервисом удобным для Вас способом.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block__img--freedom">
  <div class="container">
    <h3 class="header">Освободите себя для чего-то большего, о документах позаботимся мы</h3>
    <p class="text">Какие бы услуги Вам не понадобились, какие бы задачи перед Вами не стояли, «Отличный
      сервис» о них позаботиться. Доверьте профессионалам заботу о своих документах и Вы сможете съэкономить время для
      чего-то по настоящему важного в Вашей жизни.</p>
  </div>
</div>
