@import '../../../sass/variables';
@import '../../../sass/base';
@import '../../../sass/mixins';
@import '../../../sass/flaticon';

.container {
  @extend %layout__container;
}

.wrapper {
  @extend %layout__wrapper;
}

.block__header {
  @extend %layout__wrapper;
  transition: all .68s ease-out;
  .header {
    display: inline-block;
    margin: $h1--margin;
    font-size: $h1--font-size;
    line-height: $h1--line-height;
    font-family: $header-text__font-family;
    font-weight: $header-text__font-weight--bold;
    color: $color__base--black;
  }

  .text--promo {
    @extend %text--promo;
    display: inline-block;
    color: $color__base--black;
    text-align: center;
    max-width: 60%;
  }
}


.container {
  @extend %layout__container;
  display: flex;
  padding: $padding__huge 0;
  flex-direction: column;
  align-items: center;
}

.block__cards--service {
  @extend %layout__wrapper;
  .container {
    @extend %layout__container;
    .cards {
      @extend %layout__cards--3;
      margin-top: $margin__huge;
      .card--personal {
        @extend %card;
        background: $color__white--d3;
        background-image: url('/assets/img/home__card--personal.jpg');
      }

      .card-business {
        @extend %card;
        background: $color__white--d3;
        background-image: url('/assets/img/home__card--business.jpg');
      }

      .card--startup {
        @extend %card;
        background: $color__white--d3;
        background-image: url('/assets/img/home__card--startup.jpg');
      }

      .header {
        @extend %card__header;
        color: $color__base--black;
      }
      .btn {
        @extend %card__btn;
      }
    }

  }
}

.subHeader {
  @extend %header--sub;
  color: $color__base--black;
  margin-top: 0;
}

.block__icons--service {
  @extend %layout__wrapper;
  .container {
    @extend %layout__container;
    .header {
      @extend %header--sub;
      margin-top: 0;
    }
  }
  .container--icons {
    @extend %layout__blocks--with-icons--2;
    .block {
      @extend %block-with-icon;
      .icon--window {
        @extend .fi;
        @extend .flaticon-technology;
        @extend %block-with-icon__icon;
      }
      .icon--docs {
        @extend .fi;
        @extend .flaticon-file;
        @extend %block-with-icon__icon;
      }
      .icon--result {
        @extend .fi;
        @extend .flaticon-arrows;
        @extend %block-with-icon__icon;
      }
      .icon--service247 {
        @extend .fi;
        @extend .flaticon-clock;
        @extend %block-with-icon__icon;
      }
      .icon--credit-card {
        @extend .fi;
        @extend .flaticon-credit-card;
        @extend %block-with-icon__icon;
      }
      .icon--mobile {
        @extend .fi;
        @extend .flaticon-computer;
        @extend %block-with-icon__icon;
      }
      .block--text {
        @extend %block-with-icon__text-block;
      }
      .header {
        @extend %block-with-icon__header;
      }
      .text {
        @extend %block-with-icon__text;
      }
    }
  }
}

.block__img--freedom {
  @extend %layout__wrapper;
  padding: $padding__base 0 $padding__huge;
  margin-top: $margin__huge;
  background-image: url(/assets/img/home__freedom--bg.jpg);
  background-position: right center;
  .container {
    @extend %layout__container;
  }
  .header {
    @extend %header--sub;
    max-width: 30rem;
  }
  .text {
    @extend %text;
    max-width: 30rem;
  }
}

@media all and (min-width: $mq__full--hd) {
  .promoHappy {
    background-size: cover;
  }
}
