@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.block__order {
  @extend %layout__wrapper;
  padding: $padding--huge 0;
  .container {
    @extend %layout__container;
    min-height: 65vh;
  }
  .wrapper--order {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $margin--big;
  }
  .item {
    @extend %layout__text-columns--2;
  }
  .item__name {
    @extend %label;
  }
  .item__value {
    @extend %input;
    border-bottom: 1px dotted $color__black--l3;
    &:hover {
      border-color: $color__black--l3;
    }
    &:focus {
      border-color: $color__black--l3;
    }
    &:active {
      border-color: $color__black--l3;
    }
  }
  .container--btns {
    @extend %layout__btns;
    .btn:last-child {
      margin-right: 0;
    }
  }

  .btn {
    @extend %btn--big;
    align-self: start;
    justify-self: start;
    margin-bottom: $margin--big;
  }
  .order__info {
    padding: .5rem 2rem;
    border: 1px solid $color__white--d3;
    border-radius: $border-radius;
    background-color: rgba($color__white--d2, $opacity--bg);
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  }
  .info {
    @extend %card-account__info;

    display: block;
  }
  .message-notification {
    text-decoration: none;
    @extend %haf--opacity;
  }
  .icon-wrapper {
    @extend %card-account__icon-wrapper;
  }
  .info--important {
    @extend %card-account__info--important;
  }
  .fi {
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    color: $color__base--blue;
    margin-right: $icon--margin--right;
  }

  .wrapper--order--edit-form {
    display: grid;
    margin: 0;
    grid-template-columns: auto minmax(100px, 200px);
    grid-auto-flow: dense;
    grid-gap: $margin--huge;
  }

  .form {
    @extend %form--col--2;
    margin-top: $margin--small;

  }

  .label {
    @extend %label--col-2;
  }

  .input {
    @extend %input--col-2;
  }

  .input--readonly {
    @extend .input;
    cursor: default;
    border-bottom: 1px dotted $color__black--l3;
    &:hover {
      border-color: $color__black--l3;
    }
    &:focus {
      border-color: $color__black--l3;
    }
    &:active {
      border-color: $color__black--l3;
    }
  }

  .files {
    @extend %files;
  }

  .container--file-link {
    @extend %container--file-link;
  }

  .files--delete-btn {
    @extend %pop-up__btn-close--blue;
    right: -1.5rem;
    top: .3rem;
  }

  .text {
    @extend %card-big__text;
  }

  .notes__text {
    display: block;
    font-size: $normal-text__font-size;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--normal;
    font-style: italic;
    color: $color__black--l1;
    background-color: transparent;
  }

  .pop-up__wrapper--table--header {
    @extend %pop-up__wrapper--table--header;
  }

  .pop-up__wrapper--table--row {
    @extend %pop-up__wrapper--table--row;
    @extend %pop-up__text;

  }

  .pop-up__progress {
    @extend %pop-up__progress;
  }

  .downloading-files {
    @extend %downloading-files;
  }

  .drop-file {
    @extend %drop-file;
    margin-bottom: $margin--base;
  }

  .pop-up__wrapper--table--header + .ng-star-inserted {
    margin-top: $margin--base;
  }

  .input--file-input--hidden {
    display: none;
  }
  .progressbar {
    height: 10px;
    background-color: red;
  }

}
