<div class="block__order">
  <!-- TODO: Write warning if user get this page on saved link -->
  <div class="container">
    <div class="container--btns">
      <ng-container *ngIf="!this.orderEdit">
        <a class="btn" routerLink="/account/orders-list/">назад</a>
      </ng-container>
      <ng-container *ngIf="this.orderEdit">
        <button class="btn" (click)="cancelEditOrder()">назад</button>
      </ng-container>
      <span>

        <button class="btn"
                *ngIf="!this.orderEdit && (this.userService.user.userType === userTypes.user )" (click)="editOrder()">редактировать</button>
        <a class="btn"
           *ngIf="this.userService.user.userType === userTypes.user"
           routerLink="/account/order/{{this.orderService.order._id}}/messages">написать менеджеру</a>

        <a class="btn"
           *ngIf="(this.userService.user.userType === userTypes.employee) ||
                  (this.userService.user.userType === userTypes.manager) ||
                  (this.userService.user.userType === userTypes.root)"
           (click)="this.messageService.cancelOrderForm = true"
           routerLink="/account/order/{{this.orderService.order._id}}/messages">отменить заказ</a>
        <button class="btn"
                *ngIf="(this.userService.user.userType === userTypes.employee) ||
                  (this.userService.user.userType === userTypes.manager) ||
                  (this.userService.user.userType === userTypes.root)"
                (click)="closeOrder(this.orderService.order._id)"
        >завершить заказ</button>
        <a class="btn"
           *ngIf="(this.userService.user.userType === userTypes.employee) ||
                  (this.userService.user.userType === userTypes.manager) ||
                  (this.userService.user.userType === userTypes.root)"
           routerLink="/account/order/{{this.orderService.order._id}}/messages">написать клиенту</a>
        <a class="btn"
           *ngIf="(this.userService.user.userType === userTypes.employee) ||
                  (this.userService.user.userType === userTypes.manager) ||
                  (this.userService.user.userType === userTypes.root)"
           routerLink="/account/create-task">поставить задачу</a>

      </span>
    </div>
    <!-- TODO: Have bug with different form's height in edit and readonly mode. Look on switching and see this 2-5px -->
    <div class="wrapper--order">
      <form class="form" #OrderEditPage="ngForm" novalidate>
        <ng-container *ngFor="let item of this.orderService.order.orderContent">
          <label class="label" for="{{item.className}}">{{item.label}}</label>
          <div *ngIf="item.className==='orderContentFiles' && !this.orderEdit">
            <div *ngFor="let file of item.value">
              <a href='{{this.apiRoute}}/{{file.fileUrl}}' class='files'>{{file.fileName}}</a>
            </div>
          </div>
          <div *ngIf="item.className==='orderContentFiles' && this.orderEdit">
            <div *ngFor="let file of item.value">
              <div class="container--file-link">
                <a href='{{this.apiRoute}}/{{file.fileUrl}}' class='files'>{{file.fileName}}</a>
                <span class="files--delete-btn" (click)="deleteFile(file.fileUrl)" title="удалить файл"></span>
              </div>
            </div>
            <input class="input--file-input--hidden" id="ndfl3FormFile" type="file" name="file"
                   #ndfl3FormFile ng2FileSelect
                   [uploader]="uploader"/>
            <div class="drop-file"
                 ng2FileDrop
                 (fileOver)="fileOverBase($event)"
                 (click)="ndfl3FormFile.click()"
                 [uploader]="uploader"
                 #ndfl3FormFilePassportFirstPageInput
            >
              Перетащите файлы или кликните для загрузки
            </div>
            <div class="downloading-files">
              <div class="pop-up__wrapper--table--header">
                <span>имя файла: </span>
                <span class="pop-up__progress">загружено: </span>
              </div>
              <div *ngFor="let item of uploader.queue">
                <div class="pop-up__wrapper--table--row">
                  <span>{{ item.file['originalName'] }}</span>
                  <span class="pop-up__progress">{{ item.progress + '%'}}</span>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="item.className!=='orderContentFiles'">
            <input
              [ngClass]="!this.orderEdit ? 'input--readonly' : 'input'"
              [(ngModel)]="this[item.className].value"
              id="{{item.className}}"
              name="{{item.className}}" [readonly]="!this.orderEdit"/>
          </ng-container>
        </ng-container>
        <button class="btn"
                type="submit"

                (click)="submit(this.orderService.order._id)"
                *ngIf="this.orderEdit">
          Сохранить изменения
        </button>
      </form>

      <div class="order__info" *ngIf="!this.orderEdit">
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-note"></i>
                <b class="info--important">Сообщения: </b>
          </span>
          <a class="message-notification"
             routerLink="/account/order/{{this.orderService.order._id}}/messages">
            {{this.orderService.order.orderMessages.length-1}}
          </a>
        </p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-business"></i>
                <b class="info--important">Стоимость:</b>
          </span> {{this.orderService.order.orderCost}}
          &#8381;
        </p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="info--important">Статус оплаты:</b>
          </span> {{this.orderService.order.orderPaymentStatus}}</p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-interface"></i>
                <b class="info--important">Статус заказа:</b>
          </span> {{this.orderService.order.orderWorkStatus}}</p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="info--important">Дата заявки:</b>
          </span> {{this.orderService.order.orderDataOpened | date:"dd.MM.yyyy"}}</p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="info--important">Дата оплаты:</b>
          </span>
          <ng-container *ngIf="this.orderService.order.orderDataPayment !== null">
            {{this.orderService.order.orderDataPayment | date:"dd.MM.yyyy"}}
          </ng-container>
          <ng-container *ngIf="this.orderService.order.orderDataPayment === null">
            не оплачено
          </ng-container>
        </p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-clock-1"></i>
                <b class="info--important">Срок выполнения:</b>
          </span> {{this.orderService.order.orderDeadLine}}</p>
        <p class="info">
          <span class="icon-wrapper">
                <i class="fi flaticon-interface-1"></i>
                <b class="info--important">ID заказа:</b>
          </span>
          #{{this.orderService.order._id}}
        </p>
      </div>
      <div class="notes" *ngIf="this.orderEdit">
        <span class="notes__text">
          Внимание, внесение изменений в заказ может увеличить время его выполнение в случае необходимости повторной проверки Ваших личных данных.
        </span>
      </div>
    </div>
  </div>
</div>
