<div class="block__employees-list">
  <div class="container">
    <h2 class="header">Список сотрудников</h2>
    <ul class="list">
      <li class="item" *ngFor="let employee of employees">
        <h3 class="header--user-info">{{employee.userName}}</h3>
        <div class="container--user-info">
          <span class="text"><b class="text--important">Отдел: </b> {{employee.userDepartment}}</span>
          <span class="text"><b class="text--important">E-mail: </b> {{employee.userEmail}}</span>
          <span class="text"><b class="text--important">id: </b> {{employee._id}}</span>
          <span class="text"><b class="text--important">Доступ: </b> {{employee.userType}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
