<div class="container">
  <div class="container--left">
    <h2 class="header--main">Войти в личный кабинет</h2>
  </div>
  <div class="container--right">
    <form class="form"
          #authenticationForm="ngForm" novalidate>
      <label class="label" for="authenticationFormEmail">Email:</label>
      <input class="input"
             name="authenticationFormEmail"
             id="authenticationFormEmail"
             type="email"
             [(ngModel)]="userEmail"
             #authenticationFormEmail="ngModel"
             required/>
      <label class="label" for="authenticationFormPassword">Пароль:</label>
      <input class="input"
             name="authenticationFormPassword"
             id="authenticationFormPassword"
             type="password"
             [(ngModel)]="userPassword"
             #authenticationFormPassword="ngModel"
             required/>
      <div class="wrapper--btn">
        <button class="btn"
                *ngIf="(authenticationFormEmail.invalid || authenticationFormPassword.invalid)"
                (click)="showPopUps()">Войти
        </button>
        <button class="btn"
                type="submit"
                *ngIf="authenticationFormEmail.valid && authenticationFormPassword.valid"
                (click)="onSubmit()">Войти
        </button>

        <p class="text">Нажимая кнопку «Войти», вы принимаете
          <a class="link">условия обработки персональных данных.
          </a>
        </p>
        <a class="link">Забыли пароль?</a>
      </div>


    </form>
  </div>

</div>

<div class="pop-up__wrapper">
  <div class="pop-up__container"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorEmail  &&
               (authenticationFormEmail.invalid || authenticationFormEmail.pristine)) ?
               'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorEmail')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Email».</p>
  </div>
  <div class="pop-up__container"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorPassword  &&
               (authenticationFormPassword.invalid || authenticationFormPassword.pristine)) ?
                'show' : 'hide'"
  >
    <button class="pop-up__btn-close" (click)="closePopUp('errorPassword')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Пароль».</p>
  </div>
  <div class="pop-up__container"
       [@showBlock]="
              (authenticationFormEmail.valid && authenticationFormPassword.valid && this.authenticationService.haveError) ?
               'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorServer')"></button>
    <p class="pop-up__text">{{this.authenticationService.errorText}}
    </p>
  </div>
  <div class="pop-up__container"
       [@showBlock]="this.authenticationService.roleError ? 'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('roleError')"></button>
    <p class="pop-up__text">Извините, но Вам не хватает прав доступа. Пожалуйста, авторизуйтесь для просмотра
      данной информации.</p>
  </div>
</div>
