<div class="block__page--personal">
  <div class="container">
    <h1 class="header">Физическим лицам</h1>
    <h3 class="text--promo">Все самое необходимое. В одном окне. 24/7.</h3>
  </div>
  <div class="cards--service">
    <div class="container">
      <div class="cards">
        <div class="card--ndfl">
          <h2 class="header">Налоговый вычет 3 НДФЛ</h2>
          <a routerLink="/3ndfl" class="btn" >Подробнее</a>
        </div>
        <div class="card--hypothec">
          <h2 class="header">Ипотечное кредитование</h2>
          <a routerLink="/hypothec" class="btn" >Подробнее</a>
        </div>
        <div class="card--credit-history">
          <h2 class="header">Кредитная история</h2>
          <a routerLink="/credit-history" class="btn">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
