@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/base";

.block__form--authentication {
  @extend %card-big;
  padding: $padding--huge 0;
  .wrapper {
    @extend %card-big__wrapper;
  }
}
