@import '../../../sass/variables';
@import '../../../sass/base';
@import '../../../sass/mixins';
@import '../../../sass/flaticon';

.promo--full-screen {
  @extend %layout__promo--fullscreen;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/3ndfl__promo--fullscreen.jpg);
  background-position: center top;
  .container {
    @extend %layout__container;
    width: 100%;
  }
  .header {
    @extend %header--main;
    text-align: left;
  }
  .text--promo {
    @extend %text--promo;
    p {
      @extend %text--promo;
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
      margin-bottom: $margin__small;
      max-width: 80%;
    }
  }
  .container__btn {
    display: flex;
  }
  .btn {
    @extend %btn--big;
    margin-top: $margin__base;
  }
}

.block__wrapper {
  @extend %layout__wrapper;
}

.block__container {
  @extend %layout__container;
  .header {
    @extend %header--sub;
  }
  .header--center {
    @extend .header;
    text-align: center;
  }
  .text {
    @extend %text;
  }
  .text--center {
    @extend .text;
    width: 100%;
    text-align: center;
  }
}

.container--bg--coffee {
  background-image: url(/assets/img/content-pages--bg--default5.jpg);
  background-position: center right;
  padding-bottom: 4rem;
  background-size: cover;
}

.container--bg--smile-boy {
  background-image: url(/assets/img/content-pages--bg--default6.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
  background-color: #ededed;
}

.container--bg--rocks {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: url(/assets/img/content-pages--bg--default7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ededed;
  background-size: cover;
}

.container--bg--filter--white {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(255, 255, 255, .88);
}

.container--animation--height-default {
  overflow: hidden;
  height: 616px;
}

.block__cards--info {
  @extend %layout__wrapper;
  .container {
    @extend %layout__container;
  }
  .cards {
    @extend %layout__cards--3;
  }
  .card--buy-house {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--buy-house.jpg);
  }
  .card--hypothec {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--hypothec.jpg);
  }
  .card--iis {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--iis.jpg);
  }
  .card--medical {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--medical.jpg);
  }
  .card--insurance {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--incurance.jpg);
  }
  .card--learning {
    @extend %card;
    height: 260px;
    background: $color__white--d3;
    background-image: url(/assets/img/3ndfl__card--learning.jpg);
  }

  .header {
    @extend %card__header;
    color: $color__base--black;
  }

  .text {
    @extend %text;
    display: block;
  }

  .btn {
    @extend %btn;
  }
}

.block__card--info-big {
  @extend %card-big;
  padding: $padding__huge 0;
  .wrapper {
    @extend %card-big__wrapper;
    padding: 0 2rem;
  }
  .header {
    @extend %card-big__header;
  }
  .container {
    @extend %card-big__container;
  }

  .containerRight {
    @extend %card-big__container--right;
  }
  .form {
    @extend %card-big__form;
  }
  .label {
    @extend %card-big__label;
  }
  .input {
    @extend %card-big__input;
  }
  .text {
    @extend %card-big__text;
  }
  .link {
    @extend %link--text;
  }
  .btn {
    @extend %btn--big;
    align-self: center;
    margin-bottom: $margin__base;
  }
  .container--left--house {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--buy-house--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
  .container--left--hypothec {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--hypothec--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
  .container--left--medical {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--medical--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
  .container--left--insurance {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--incurance--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
  .container--left--learning {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--learning--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
  .container--left--iis {
    @extend %card-big__container--left;
    background-image: url(/assets/img/3ndfl__card--iis--big.jpg);
    background-position: top right;
    min-height: 424px;
  }
}

.block--bg--default {
  display: block;
  width: 100%;
  background-size: cover;
}

.list--ordered {
  @extend %list--ordered;

  .list__item--ordered {
    @extend %list__item--ordered;
  }
  .list__text {
    @extend %list__text;
  }
  .list__text--bold {
    @extend %list__text--bold;
  }

}

.block__table-price {
  z-index: 2;
  width: 100%;
  .wrapper {
    @extend %layout__wrapper;
    padding: $padding--huge*2 0;
  }
  .container {
    @extend %layout__container;
    margin-bottom: 0;
  }
  .table {
    @extend %table;
  }
  thead {
    @extend %table__header--wrapper;
    td {
      @extend %table__header--text;
    }
  }
  .table__cell {
    @extend %table__cell;
  }
  .table__cell--center {
    @extend %table__cell--center;
  }
  .btn {
    @extend %btn;
  }
}

.block__form--price {
  z-index: 1;
  .container {
    @extend %layout__container;
    padding: $padding--huge;
  }
  .order--3ndfl--step-1 {
    display: grid;
    margin: 0;
    grid-template-columns: auto minmax(100px, 200px);
    grid-auto-flow: dense;
    grid-gap: $margin--huge;
  }
  .order--3ndfl--step-2 {
    display: grid;
    margin: 0;
    grid-template-columns: auto minmax(100px, 200px);
    grid-template-rows: 1fr auto;
    grid-auto-flow: dense;
    grid-gap: $margin--huge;
    .container--btn--left {
      margin-top: $margin--big;
    }
  }
  .switch--authentication--registration {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: $margin--base;
  }
  .switch__tabs {
    display: flex;
    padding: 1rem 0;
    .tab {
      background-color: transparent;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      @extend %link--bordered;
      font-size: $normal-text__font-size--small;
      text-transform: uppercase;
      letter-spacing: $header-text__letter-spacing;
      border-bottom: 1px solid transparent;
      &.link--account {
        margin-right: 0;
      }
      &.active {
        font-weight: $normal-text__font-weight--bold;
        border-color: $color__base--blue;
      }
    }
  }
  .container--form-notes {
    .form-notes__text {
      display: block;
      font-size: $normal-text__font-size;
      line-height: $normal-text__line-height;
      font-family: $normal-text__font-family;
      font-weight: $normal-text__font-weight--normal;
      font-style: italic;
      color: $color__black--l1;
      background-color: transparent;
    }
    .form-notes__text--authenticated {
      @extend .form-notes__text;
      margin-top: $margin--base;
    }
    .form-notes__header {
      @extend .form-notes__text;
      margin: $margin--base 0;
      padding: $padding__small 0;
      font-size: $normal-text__font-size--small;
      font-weight: $normal-text__font-weight--bold;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .link {
      @extend %link--text;
      @extend %haf--link--border;
      display: inline;
    }
  }
  .form {
    @extend %form--col--2;
    margin-top: $margin--small;
  }
  .label {
    @extend %label--col-2;
  }
  .label--full-width {
    @extend %label--col-2--full-width;
  }
  .input {
    @extend %input--col-2;
  }
  .container--file-input {
    @extend %input--col-2;
    border: none;
    align-self: center;
  }
  .text {
    @extend %card-big__text;
  }
  .link {
    @extend %link--text;
  }
  .container--btns {
    @extend %layout__btns;
  }
  .btn--big {
    @extend %btn--big;
    justify-self: left;
  }
  .btn {
    @extend %btn;
    justify-self: left;
  }
  .input--file-input--hidden {
    display: none;
  }
  .progressbar {
    height: 10px;
    background-color: red;
  }
}

.pop-up__wrapper {
  @extend %pop-up__wrapper;
}

.pop-up__container--info {
  @extend %pop-up__container;
  background-color: $color__base--blue;
}

.pop-up__container--error {
  @extend %pop-up__container;
}

.pop-up__text {
  @extend %pop-up__text;
}

.pop-up__btn-close {
  @extend %pop-up__btn-close;
}

.pop-up__wrapper--table--header {
  @extend %pop-up__wrapper--table--header;
}

.pop-up__wrapper--table--row {
  @extend %pop-up__wrapper--table--row;
  @extend %pop-up__text;

}

.pop-up__progress {
  @extend %pop-up__progress;
}

.downloading-files {
  @extend %downloading-files;
}

.drop-file {
  @extend %drop-file;
}

.pop-up__wrapper--table--header + .ng-star-inserted {
  margin-top: $margin--base;
}

@media all and (min-width: $mq__full--hd) {
  .promo--full-screen {
    background-size: cover;
  }
}
