<div class="promo--full-screen" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h1 class="header">Налоговый вычет 3 НДФЛ</h1>
    <div class="text--promo">
      <p class="text">Налоговый вычет - это льгота, позволяющая вернуть уплаченный Вами налог на доходы.
      </p>
      <p class="text">Мы поможем Вам вернуть налоги онлайн не выходя из дома.</p>
      <p class="text">Воспользуйтесь своим правом!</p>
    </div>
    <div class="container__btn">
      <button class="btn" >как это работает</button>
      <button class="btn" >калькулятор сумм</button>
    </div>
  </div>
  <div class="scrollArrowsWrapper">
    <div class="scrollArrows">
      <div class="scrollArrowsContainer">
        <!--TODO: Test can i delete a for this?-->
        <a href="#">
          <span class="bottomArrow"></span>
          <span class="bottomArrow"></span>
          <span class="bottomArrow"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container--bg--coffee">
  <div class="block__wrapper">
    <div class="block__container">
      <h2 class="header">За какие услуги можно получить налоговый вычет?</h2>
      <p class="text">По закону Вы имеете право вернуть уплаченный Вами налог на доходы в размере 13%, если Вы:
      </p>
    </div>
  </div>
  <div class="container--animation--height-default">
    <div class="block__cards--info" [@showBlock]="stateAllCards">
      <div class="container">
        <div class="cards">
          <div class="card--buy-house">
            <h3 class="header">Купили квартиру</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">260&nbsp;000&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('buyHouse')">Подробнее</button>
            </div>
          </div>
          <div class="card--hypothec">
            <h3 class="header">Платите процент по ипотеке</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">390&nbsp;000&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('hypothec')">Подробнее</button>

            </div>
          </div>
          <div class="card--iis">
            <h3 class="header">Открыли индивидуальный инвестиционный счет</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">156&nbsp;000&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('iis')">Подробнее</button>

            </div>
          </div>
          <div class="card--medical">
            <h3 class="header">Оплатили лечение</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">15&nbsp;600&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('medical')">Подробнее</button>

            </div>
          </div>
          <div class="card--insurance">
            <h3 class="header">Оплатили полис страхования жизни</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">15&nbsp;600&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('insurance')">Подробнее</button>

            </div>
          </div>
          <div class="card--learning">
            <h3 class="header">Оплатили обучение</h3>
            <div>
              <p class="text">сумма возврата до
                <b class="important">15&nbsp;600&nbsp;₽</b>
              </p>
              <button class="btn" (click)="showBlock('learning')">Подробнее</button>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="block__card--info-big" [@showBlock]="statesCards.buyHouse">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--house">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Вычет на покупку жилья до 650&nbsp;000&nbsp;₽</h3>
            <p class="text">Согласно законодательству РФ при покупке квартиры, дома или земельного участка Вы можете
              вернуть себе часть денег,
              в размере уплаченного Вами подоходного налога. Данный налоговый вычет прописан в Налоговом Кодексе РФ (ст.
              220 НК РФ) и направлен на то, чтобы предоставить гражданам возможность приобрести или улучшить свое
              жилье.</p>
            <p class="text">То есть, если Вы официально работаете и платите подоходный налог (его перечисляют в бюджет
              все наемные работники),
              и приобрели квартиру или дом, то Вы можете вернуть себе уплаченный подоходный налог в размере до 13% от
              стоимости
              квартиры/дома (кроме этого Вы можете также вернуть 13% от ипотечных процентов и некоторых других
              расходов).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block__card--info-big" [@showBlock]="statesCards.hypothec">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--hypothec">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Вычет на выплату процентов по ипотеке до 650&nbsp;000&nbsp;₽</h3>
            <p class="text">Согласно законодательству РФ при покупке квартиры, дома или земельного участка Вы можете
              вернуть себе часть денег,
              в размере уплаченного Вами подоходного налога. Данный налоговый вычет прописан в Налоговом Кодексе РФ (ст.
              220 НК РФ) и направлен на то, чтобы предоставить гражданам возможность приобрести или улучшить свое
              жилье.</p>
            <p class="text">То есть, если Вы официально работаете и платите подоходный налог (его перечисляют в бюджет
              все наемные работники),
              и приобрели квартиру или дом, то Вы можете вернуть себе уплаченный подоходный налог в размере до 13% от
              стоимости
              квартиры/дома (кроме этого Вы можете также вернуть 13% от ипотечных процентов и некоторых других
              расходов).</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block__card--info-big" [@showBlock]="statesCards.iis">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--iis">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Инвестиционный вычет – 156&nbsp;000&nbsp;₽</h3>
            <p class="text">Если Вы выбрали вычет по взносам, то Вы можете ежегодно получать налоговый вычет в размере
              13% от суммы средств,
              внесенных на индивидуальный инвестиционный счет (пп.2 п.1 ст.219.1 НК РФ). Соответственно, при
              максимальном
              годовом взносе в 400 тыс. руб., Вы сможете вернуть 156 тыс.руб.</p>
            <p class="text">При этом вычетом Вы сможете воспользоваться в размере, не более, чем уплачено налога на
              доходы по ставке 13%
              за этот же период.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block__card--info-big" [@showBlock]="statesCards.medical">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--medical">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Налоговый вычет при лечении до 15&nbsp;600&nbsp;₽</h3>
            <p class="text">Согласно законодательству РФ (ст. 219 НК РФ), при оплате лечения или медикаментов Вы можете
              рассчитывать на налоговый
              вычет или, говоря проще, вернуть себе часть затраченных на лечение денег. Налоговый вычет - это часть
              дохода,
              которая не облагается налогом. Поэтому Вы и можете вернуть себе уплаченный налог с расходов, понесенных на
              лечение
            </p>
            <p class="text">То есть, если Вы официально работаете (и, соответственно, платите подоходный налог) и
              оплатили свое лечение или
              лечение своих родственников, то Вы можете вернуть себе часть денег в размере до 13% от стоимости
              лечения.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block__card--info-big" [@showBlock]="statesCards.insurance">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--insurance">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Налоговый вычет при оформлении страхового полиса до 15&nbsp;600&nbsp;₽</h3>
            <p class="text">1-го января 2015 года все физические лица, у которых есть договор долгосрочного страхования
              жизни на пять и более
              лет, имеют право получить налоговый возврат по НДФЛ. При этом закон распространяется не только на те
              договора,
              которые были заключены после 1-го января, но и на те, которые были подписаны ранее, если срок их действия
              еще
              не истек.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="block__card--info-big" [@showBlock]="statesCards.learning">
      <div class="wrapper">
        <div class="container">
          <div class="container--left--learning">
            <button class="btn" (click)="backToAllCards()">назад</button>
          </div>
          <div class="containerRight">
            <h3 class="header">Налоговый вычет за обучение до 15&nbsp;000&nbsp;₽</h3>
            <p class="text">Согласно законодательству РФ (ст. 219 НК РФ), при оплате образовательных услуг Вы можете
              рассчитывать на налоговый
              вычет или, говоря проще, вернуть себе часть затраченных на обучение денег. Налоговый вычет - это часть
              дохода,
              которая не облагается налогом. Поэтому Вы и можете вернуть себе уплаченный налог с расходов, понесенных на
              образование.
            </p>
            <p class="text">То есть, если Вы официально работаете (и, соответственно, платите подоходный налог) и
              оплатили свое обучение
              или обучение своих детей/братьев/сестер, то Вы можете вернуть себе часть денег в размере до 13% от
              стоимости
              обучения.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container--bg--smile-boy">
  <div class="block__wrapper">
    <div class="block__container">
      <h2 class="header">С нами это легко!
        <br> 5 простых шагов для получения налогового вычета.
      </h2>
      <p class="text">Личный консультант ответит на все Ваши вопросы и заполнит декларацию за Вас!</p>
      <ol class="list--ordered">
        <li class="list__item--ordered">
          <p class="list__text--bold">Оставьте заявку на сайте</p>
          <p class="list__text">Предоставьте необходимые документы</p>
        </li>
        <li class="list__item--ordered">
          <p class="list__text--bold">Предоставьте необходимые документы</p>
          <p class="list__text">При предоставлении документов мы проверим их на законность основания получения Вами
            налогового вычета.</p>
        </li>
        <li class="list__item--ordered">
          <p class="list__text--bold">Оплатите услугу онлайн</p>
          <p class="list__text">После проверки документов мы пришлем Вам форму для оплаты услуги по заполнению
            декларации.
          </p>
        </li>
        <li class="list__item--ordered">
          <p class="list__text--bold">Подаете декларацию</p>
          <p class="list__text">Отличный менеджер вышлет вам заполненную декларацию для самостоятельной отправки либо
            отправит декларацию за Вас
            в налоговую.</p>
        </li>
        <li class="list__item--ordered">
          <p class="list__text--bold">Получаете налоговый вычет</p>
          <p class="list__text">После получения налоговой декларации и её проверки ИФНС перечислит Вам деньги. </p>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="container--bg--rocks">
  <div class="block__table-price" [@showBlock]="stateTablePrice">
    <div class="wrapper">
      <div class="container">
        <table class="table" cellspacing="0" cellpadding="0">
          <thead>
          <tr>
            <td class="table__cell" colspan="3"> Список оказываемых услуг</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table__cell">Консультация</td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
          </tr>
          <tr>
            <td class="table__cell">Подготовка документов онлайн</td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
          </tr>
          <tr>
            <td class="table__cell">Проверка документов</td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
          </tr>
          <tr>
            <td class="table__cell">Заполнение декларации</td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
          </tr>
          <tr>
            <td class="table__cell">Подача декларации в налоговую за Вас
              <br>( только для Санкт-Петербурга и Москвы )
            </td>
            <td class="table__cell"></td>
            <td class="table__cell--center">
              <i class="fi flaticon-interface-2"></i>
            </td>
          </tr>
          <tr>
            <td class="table__cell">Стоимость</td>
            <td class="table__cell--center">
              <b>2000 ₽</b>
            </td>
            <td class="table__cell--center">
              <b>4000 ₽</b>
            </td>
          </tr>
          <tr>
            <td class="table__cell"></td>
            <td class="table__cell--center">
              <button class="btn"

                      (click)="selectOrderRate(orderRateOne.price, orderRateOne.name, orderRateOne.deadLine)">Оформить
                декларацию
              </button>
            </td>
            <td class="table__cell--center">
              <button class="btn"

                      (click)="selectOrderRate(orderRateTwo.price, orderRateTwo.name, orderRateOne.deadLine)">Оформить
                декларацию
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container--bg--filter--white" [@filter]="stateTablePrice">
    <div class="block__form--price" [@showBlock]="statesForms.stepFirst">
      <div class="container">
        <div class="container--btns">
          <button class="btn--big" (click)="backToTablePrice()">назад</button>
        </div>
        <div class="order--3ndfl--step-1">
          <form class="form" #ndfl3Form="ngForm" novalidate>
            <label class="label" for="ndfl3Name">{{this.ndfl3ContentName.label}}:</label>
            <input class="input"
                   [(ngModel)]="ndfl3FormName"
                   #ndfl3Name="ngModel"
                   id="ndfl3Name"
                   name="ndfl3Name"
                   required/>
            <label class="label" for="ndfl3Surname">{{this.ndfl3ContentSurname.label}}:</label>
            <input class="input"
                   [(ngModel)]="ndfl3FormSurname"
                   #ndfl3Surname="ngModel"
                   id="ndfl3Surname"
                   name="ndfl3Surname"
                   required/>
            <label class="label" for="ndfl3Patronymic">{{this.ndfl3ContentPatronymic.label}}:</label>
            <input class="input"
                   [(ngModel)]="ndfl3FormPatronymic"
                   #ndfl3Patronymic="ngModel"
                   id="ndfl3Patronymic"
                   name="ndfl3Patronymic"
                   required/>
            <label class="label" for="ndfl3Phone">{{this.ndfl3ContentPhone.label}}:</label>
            <input class="input"
                   [(ngModel)]="ndfl3FormPhone"
                   #ndfl3Phone="ngModel"
                   id="ndfl3Phone"
                   name="ndfl3Phone"
                   required/>

            <label class="label--full-width" for="ndfl3Phone">Для оформления налогового вычета 3 НДФЛ Вам неообходимо
              предоставить изображения первой страницы и страницы регистрации в паспорте, свидельства ИНН, справки из
              бухгалтерии по месту работы о доходах (форма 2-НДФЛ) и реквизиты расчетного счета в банке для зачисления
              средств.
            </label>
            <input class="input--file-input--hidden" id="ndfl3FormFile" type="file" name="file"
                   #ndfl3FormFile ng2FileSelect
                   [uploader]="uploader"/>
            <div class="drop-file"
                 ng2FileDrop
                 (fileOver)="fileOverBase($event)"
                 (click)="ndfl3FormFile.click()"
                 [uploader]="uploader"
                 #ndfl3FormFilePassportFirstPageInput
            >
              Перетащите файлы или кликните для загрузки
            </div>
            <div class="downloading-files">
              <div class="pop-up__wrapper--table--header">
                <span>имя файла: </span>
                <span class="pop-up__progress">загружено: </span>
              </div>
              <div *ngFor="let item of uploader.queue">
                <div class="pop-up__wrapper--table--row">
                  <span>{{ item.file['originalName'] }}</span>
                  <span class="pop-up__progress">{{ item.progress + '%'}}</span>
                </div>
              </div>
            </div>
            <ng-container *ngIf="this.userService.user.isUserAuthenticated === false">
              <button class="btn--big"
                      type="submit"
                      *ngIf="(ndfl3Name.invalid || ndfl3Surname.invalid || ndfl3Patronymic.invalid || ndfl3Phone.invalid)"
                      (click)="showPopUps()">Далее
              </button>
              <button class="btn--big"
                      type="submit"
                      *ngIf="ndfl3Name.valid && ndfl3Surname.valid && ndfl3Patronymic.valid && ndfl3Phone.valid"
                      (click)="showForm('stepSecond')">Далее
              </button>
            </ng-container>
            <ng-container *ngIf="this.userService.user.isUserAuthenticated === true">
              <button class="btn--big"
                      type="submit"
                      *ngIf="(ndfl3Name.invalid || ndfl3Surname.invalid || ndfl3Patronymic.invalid || ndfl3Phone.invalid)"
                      (click)="showPopUps()">Отправить
              </button>
              <button class="btn--big"
                      type="submit"
                      *ngIf="(ndfl3Name.valid && ndfl3Surname.valid && ndfl3Patronymic.valid && ndfl3Phone.valid)"
                      (click)="submit()">Отправить
              </button>
            </ng-container>

          </form>
          <div class="container--form-notes">
            <span class="form-notes__header"
                  *ngIf="this.userService.user.isUserAuthenticated === false">шаг 1/2</span>
            <span class="form-notes__text"
                  *ngIf="this.userService.user.isUserAuthenticated === false">Пожалуйста, заполните свои личные данные и прикрепите необходимые документы. Вы можете загрузить документы, изображения или текстовые файлы. После окончания загрузки документов нажмите «Далее». <br> <a
              class="link">Список разрешенных к загрузке форматов.</a></span>
            <span class="form-notes__text--authenticated"
                  *ngIf="this.userService.user.isUserAuthenticated === true">
              Пожалуйста, заполните свои личные данные, прикрепите необходимые документы и затем нажмите отправить.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="block__form--price" [@showBlock]="statesForms.stepSecond">
      <div class="container">
        <div class="container--btns">
          <button class="btn--big" (click)="showForm('stepFirst')">назад</button>
        </div>
        <div class="order--3ndfl--step-2">
          <div class="switch--authentication--registration">
            <div class="switch__tabs">
              <button class="tab"
                      [ngClass]="{'active': statesForms.registrationForm  === 'show' }"
                      (click)="switchTab('registrationForm')">
                Зарегистрироваться
              </button>
              <button class="tab"
                      [ngClass]="{'active': statesForms.authenticationForm === 'show' }"
                      (click)="switchTab('authenticationForm')">
                Войти
              </button>
            </div>
            <div class="switch__block" [@showBlock]="statesForms.registrationForm">
              <app-registration></app-registration>
            </div>
            <div class="switch__block" [@showBlock]="statesForms.authenticationForm">
              <app-authentication></app-authentication>
            </div>
          </div>

          <div class="container--form-notes ">
            <span class="form-notes__header "> шаг 2/2</span>
            <span class="form-notes__text ">Для того, чтобы оставить заявку зарегистрируйтесь или войдите в свой личный кабинет. После этого заявка будет
              автоматически создана, и Вы сможете оплатить её, контролировать статус выполнения и получить помощь менеджеров
              в случае необходимости.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pop-up__wrapper">

  <div class="pop-up__container--error"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorName  &&
               (ndfl3Name.invalid || ndfl3Name.pristine)) ?
                'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorName')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Имя».</p>
  </div>
  <div class="pop-up__container--error"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorSurname  &&
               (ndfl3Surname.invalid || ndfl3Surname.pristine)) ?
                'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorSurname')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Фамилия».</p>
  </div>
  <div class="pop-up__container--error"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorPatronymic  &&
               (ndfl3Patronymic.invalid || ndfl3Patronymic.pristine)) ?
                'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorPatronymic')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Отчество».</p>
  </div>
  <div class="pop-up__container--error"
       [@showBlock]="
               (this.showPopUp &&
                popUpMessagesStates.errorPhone  &&
               (ndfl3Phone.invalid || ndfl3Phone.pristine)) ?
                'show' : 'hide'">
    <button class="pop-up__btn-close" (click)="closePopUp('errorPhone')"></button>
    <p class="pop-up__text">Пожалуйста, заполните поле «Телефон».</p>
  </div>

</div>
