<div class="block__clients-list">
  <div class="container">
    <h2 class="header">Список зарегистрированных пользователей</h2>
    <ul class="list">
      <li class="item" *ngFor="let client of clients">
        <div class="container--user-info">
          <span class="text"><b class="text--important">E-mail: </b> {{client.userEmail}}</span>
          <span class="text"><b class="text--important">id: </b> {{client._id}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
