@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/base";

.block__clients-list {
  @extend %layout__wrapper;
  .container {
    @extend %layout__container;
    min-height: 60vh;
  }
  .header {
    @extend %header--sub;
  }
  .list {
    @extend %user-list;
  }
  .item{
    @extend %user-item;
    &:first-child{
      margin-top: $margin--huge;
    }
    &:last-child{
      margin-bottom: $margin--huge;
    }
  }
  .header--user-info{
    @extend %user-header;
  }
  .text {
    @extend %user-text;
    &--important {
      @extend %user-text--important;
    }
  }

}
