<div class="block__page--about">
  <div class="container">
    <h1 class="header">О компании</h1>
    <h3 class="text--promo">Какие бы услуги Вам не понадобились, как бы задачи перед Вами не стояли, «Отличный сервис» о них позаботится.</h3>
  </div>
</div>
