@import '../../../sass/variables';
@import '../../../sass/base';
@import '../../../sass/mixins';

.block__page--about{
  display: block;
  transition: all .68s ease-out;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding-top: $padding__huge;
}


.container{
  @extend %layout__container;
  padding: $padding__big;
  .header{
    display: block;
    margin: $h1--margin;
    font-size: $h1--font-size;
    line-height: $h1--line-height;
    font-family: $header-text__font-family;
    font-weight: $header-text__font-weight--bold;
    color: $color__base--black;
  }

  .text--promo{
    @extend %text--promo;
    color: $color__base--black;
    max-width: 60%;
  }
}


