@import './_variables';
@import './flaticon';

%logo {
  @extend %haf--opacity;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  color: $color__base--black;
  text-decoration: none;
  outline: 0;
  transition: all $times--elements;
}

%logo__second-word {
  cursor: pointer;
  font-size: 1.5rem;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--light;
  color: $color__base--black;
  text-decoration: none;
  outline: 0;
}

%header--main {
  display: block;
  margin: $h1--margin;
  font-size: $h1--font-size;
  line-height: $h1--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  letter-spacing: $header-text__letter-spacing;
}

%header--sub {
  display: block;
  margin: $h2--margin;
  font-size: $h2--font-size;
  line-height: $h2--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  letter-spacing: 0;
}

%text {
  display: inline-block;
  margin: $normal-text__margin;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  letter-spacing: 0;
  color: $color__base--black;
}

%text--promo {
  display: block;
  margin: $h3--margin;
  font-size: $h3--font-size;
  line-height: $h3--line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
}

%text--bold {
  display: inline-block;
  margin: $normal-text__margin;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  letter-spacing: 0;
}

%list {
  display: block;
  padding-left: 0;
  list-style: none;

}

%list--ordered {
  @extend %list;
  counter-reset: li;
}

%list__item {
  position: relative;
  margin: $margin--big 0;
  padding-left: 1.5rem;
  &:first-child {
    margin-top: 0;
  }
  &:before {
    content: '\26AB';
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    color: $color__base--blue;
  }
}

%list__item--ordered {
  position: relative;
  margin: $margin--big 0;
  padding-left: 1.5rem;
  counter-increment: li;
  &:first-child {
    margin-top: 0;
  }
  &::before {
    content: counters(li, '.') '.';
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    margin: $normal-text__margin;
    width: 5px;
    height: 5px;
    font-size: .9rem;
    line-height: 0;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--bold;
    color: $color__base--blue;
    counter-increment: listitem;
  }
}

%list__text {
  @extend %text;
  display: block;
  margin: 0 0 $margin--small;
}

%list__text--bold {
  @extend %text--bold;
  display: inline-block;
  margin: 0 0 $margin--small;
  border-bottom: 1px solid $color__base--blue;
}

%link--bordered {
  @extend %haf--link--border;

  display: inline-block;
  margin: 0 $margin--base 0 0;
  padding: $padding--small 0;
  cursor: pointer;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  color: $color__base--black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  outline: 0;
}

%link--text {
  @extend %text;
  @extend %haf--link;
  display: inline-block;
  margin: 0;
  padding: 0 0 $padding__tiny 0;
  border-bottom: 1px dotted $color__base--blue;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

%form {
  display: grid;
  grid-gap: $margin__base;
  grid-template-columns: 1fr;
}

%form--sending {
  display: flex;
  align-items: start;
  flex-direction: column;
}

%form--col--2 {
  @extend %form;
  grid-template-rows: repeat(1fr);
  grid-template-columns: minmax(100px, 280px) 1fr;
  align-items: baseline;
}

%label {
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  text-transform: uppercase;
  color: $color__black--l2;
  letter-spacing: 2px;
}

%label--col-2 {
  @extend %label;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

%label--col-2--full-width {
  @extend %label--col-2;
  grid-column: 1/3;
}

%input {
  @extend %haf--input;
  border: 0;
  padding: 1rem 0;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  text-transform: uppercase;
  color: $color__black--l1;
  background-color: transparent;
  letter-spacing: 2px;
  border-bottom: 1px solid $color__black--l3;
  margin-bottom: $margin__big;
  outline: 0;
}

%item__value {
  border: 0;
  padding: 1rem 0;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  text-transform: uppercase;
  color: $color__black--l1;
  background-color: transparent;
  letter-spacing: 2px;
  border-bottom: 1px solid $color__black--l3;
  margin-bottom: $margin__big;
  outline: 0;
}

%input--col-2 {
  @extend %input;
  align-self: center;
}

%input--select {
  @extend %input;
  @extend %haf--select;
  cursor: pointer;
  padding-top: 1rem;

}

%textarea {
  display: block;
  width: 100%;
  background-color: rgba($color__white--d1, $opacity--bg);
  cursor: text;
  min-height: 110px;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: $border-radius;
  outline: 0;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  text-transform: uppercase;
  color: $color__black--l1;
  letter-spacing: 2px;
  border-bottom: 1px solid $color__black--l3;
  margin-bottom: $margin--big;
  &::placeholder {
    opacity: $opacity--active;
  }
  &:hover {
    border-bottom: 1px solid $color__black--l3;
  }
  &:active, &:focus, &:active:focus {
    border-bottom: 1px solid $color__base--blue;
  }
}

%files {
  background: transparent;
  border: none;
  @extend %link--text;
  padding: 0 0 $padding__tiny 0;
  margin-bottom: $margin--base;
  border-bottom: 1px dotted $color__base--blue;
  display: inline-block;
  position: relative;
}

%container--file-link {
  display: inline-block;
  position: relative;
}

// hac - hover active focus

%haf--select {
  &:hover, &:focus {
    opacity: $opacity__hover;
  }
  &:active, &:active:focus {
    opacity: $opacity__active;
    transform: scale(.99);
  }
}

%haf--btn {
  &:hover {
    background: $btn__background--hover;
    color: rgba(255, 255, 255, 0.95);
  }
  &:active, &:focus:active {
    background: $btn__background--active;
    border-bottom: 1px solid transparent;
    border-top: 1px solid rgba(28, 28, 28, 0.24);
    color: rgba(255, 255, 255, 0.80);
  }
  &:focus {
    background: $btn__background--hover;
  }
}

%haf--opacity {
  &:hover {
    opacity: $opacity--hover;
  }
  &:focus {
    opacity: $opacity--active;
  }
  &:active, &:focus:active {
    opacity: $opacity--active;
  }
}

%haf--link {
  &:hover, &:focus {
    border-bottom: 1px solid $color__base--blue;
  }
  &:active, &:focus:active {
    color: $color__base--blue;
    border-bottom: 1px solid $color__blue--d1;
  }
}

%haf--link--border {
  &:hover, &:focus {
    border-bottom: 1px solid $color__base--blue;
  }
  &:active, &:focus:active {
    color: $color__black--l1;
    border-bottom: 1px solid $color__blue--d1;
  }
}

%haf--input {
  &:hover {
    border-color: $color__base--blue;
  }
  &:active, &:focus {
    border-color: $color__blue--l3;
  }
  &:focus {
    border-color: $color__base--blue;
  }
}

%table {
  width: 100%;
  background-color: $color__white--d1;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  tr:nth-child(even) {
    background-color: $color__white--d3;
  }
}

%table__header--wrapper {
  display: table-caption;
  padding: $padding--base 0 0;
  background-color: $color__black--l2;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  tr {
    display: table;
    width: 100%;
  }
}

%table__header--text {
  display: block;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  text-align: left;
  text-transform: uppercase;
  color: white;
  letter-spacing: $header-text__letter-spacing;
}

%table__cell {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  letter-spacing: 0;
  &:first-child {
    padding: 1rem 0 1rem 2rem;
  }
  .fi {
    font-size: $icon-middle--size;
    text-align: center;
    color: $color__base--blue;
  }

}

%table__cell--center {
  @extend %table__cell;
  text-align: center;
}

%btn {
  @extend %haf--btn;

  display: inline-block;
  margin: 0 $margin__base 0 0;

  border-radius: $border-radius;
  padding: $btn__padding--v $btn__padding--h;
  cursor: pointer;
  font-size: $btn__font-size;
  font-family: $btn__font-family;
  font-weight: $btn__font-weight;
  text-transform: $btn__transform;
  color: $btn__color;
  background-color: $btn__background;
  text-decoration: none;
  outline: 0;
  transition: all 210ms ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(28, 28, 28, 0.28);
}

%btn--big {
  @extend %btn;
  padding: $btn__padding--v--big $btn__padding--h--big;
}

%layout__wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding-top: $padding--huge;
}

%layout__container {
  display: block;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 $padding__big;
  max-width: $max-width;
}

%layout__cards--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $margin__big;
}

%layout__blocks--with-icons--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-gap: $margin--huge;
  margin-top: $margin--huge;
}

%layout__promo--fullscreen {
  display: block;
  width: 100%;
  height: 100vh;
  margin-top: -164px;
}

%layout__text-columns--2 {
  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr;
  grid-gap: $margin__big;
  align-items: baseline;
}

%layout__btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: $margin--big;
  .btn:last-child {
    margin-right: 0;
  }
  .btn--big:last-child {
    margin-right: 0;
  }
}

%card {
  display: flex;
  overflow: hidden;
  border-radius: $border-radius;
  box-sizing: border-box;
  height: 380px;
  padding: $padding__big;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
}

%card__header {
  font-size: $h3--font-size;
  line-height: $h3--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  margin-top: 0;
  &:after {
    content: "";
    display: block;
    width: 80px;
    border-bottom: 3px solid $color__base--black;
    margin-top: $margin__base;
  }
}

%card__btn {
  @extend %btn--big;
}

%card-big {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

%card-big__wrapper {
  @extend %layout__container;
  padding: $padding__big;
}

%card-big__container {
  display: grid;
  opacity: 1;
  overflow: hidden;
  transition: opacity 1s ease-out;
  border: 1px solid $color__white--d3;
  border-radius: $border-radius;
  grid-template-columns: 38% auto;
  background-color: $color__white--d3;
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
}

%card-big__container--right {
  padding: $padding--huge;
}

%card-big__container--left {
  padding: $padding--huge;
  background-size: cover;
  background-position: bottom left;
  min-height: 400px;
  background-repeat: no-repeat;
}

%card-big__header {
  display: block;
  margin: $h2--margin;
  font-size: $h2--font-size;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  margin-top: 0;
}

%card-big__form {
  @extend %form;
}

%card-big__label {
  @extend %label;
}

%card-big__input {
  @extend %input;
}

%card-big__input--select {
  @extend %input--select;
}

%card-big__text {
  display: block;
  padding: $padding__base 0;
  font-size: 1rem;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
}

%card-account {
  display: grid;
  opacity: 1;
  overflow: hidden;
  transition: opacity 1s ease-out;
  margin: 0 auto $margin--big;
  border: 1px solid $color__white--d3;
  border-radius: $border-radius;
  grid-template-columns: 38% auto;
  grid-auto-flow: column;
  border: 1px solid rgba(128, 128, 128, 0.05);
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  .fi {
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    color: $color__base--blue;
    margin-right: $icon--margin--right;
  }
}

%card-account__container--left {
  display: grid;
  padding: $padding__big;
  background-color: rgba($color__white--d3, $opacity--bg);
}

%card-account__container--right {
  display: grid;
  padding: $padding--base $padding__big;
  background-color: rgba($color__white--d2, $opacity--bg);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

%card-account__header {
  display: block;
  margin: 0;
  font-size: $h3--font-size;
  line-height: $h3--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  grid-column: 1;
  grid-row: 1;
}

%card-account__link {
  @extend %btn--big;
  grid-column: 1;
  grid-row: 2;
  justify-self: left;
  align-self: end;
}

%card-account__info {
  @extend %text;
  margin: $margin--small 0;
}

%card-account__icon-wrapper {
  display: inline-flex;
  align-items: center;
}

%card-account__info--important {
  display: inline-block;
  margin: 0;
  padding: $padding--small 0;
  cursor: pointer;
  font-size: $normal-text__font-size--small;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  text-transform: uppercase;
  color: $color__base--black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  align-self: center;
  letter-spacing: $header-text__letter-spacing;
}

%block-with-icon {
  display: flex;
}

%block-with-icon__icon {
  font-size: $icon-big--size;
  color: $color__base--blue;
  margin-right: $icon-big--margin--right;
}

%block-with-icon__text-block {
  display: block;
}

%block-with-icon__header {
  display: block;
  margin: $h3--margin;
  font-size: $h3--font-size;
  line-height: $h3--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  margin-top: 0;
  letter-spacing: 0;
}

%block-with-icon__text {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  letter-spacing: 0;
}

%notification {
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--bold;
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  padding: .25rem .22rem .25rem .3rem;
  background-color: $color__base--blue;
  color: $color__base--white;
  border-radius: .8rem;
  min-width: .8rem;
  min-height: .8rem;
  height: .8rem;
  display: flex;
  justify-content: center;
  font-size: .8rem;
}

%pop-up__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

%pop-up__container {
  display: block;
  position: relative;
  padding: $padding--base $padding--big;
  border-radius: $border-radius;
  background-color: complement($color__base--blue);
  width: 100%;
  max-width: 350px;
  margin-bottom: $margin--big;
  text-decoration: none;
  outline: 0;
  transition: all 210ms ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(28, 28, 28, 0.28);
}

%pop-up__text {
  @extend %text;
  color: $color__base--white;
}

%pop-up__btn-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  right: .75rem;
  top: .75rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: 0;
  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $color__base--white;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    &::before, &::after {
      background: $color__blue--d3;
    }
  }
  &:active, &:focus:active {
    &::before, &::after {
      background: $color__blue--d2;
    }
  }
  &:focus {
    &::before, &::after {
      background: $color__blue--d3;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}

%pop-up__btn-close--blue {
  @extend %pop-up__btn-close;
  &::before, &::after {
    background: $color__base--blue;
  }
  &:hover {
    &::before, &::after {
      background: $color__blue--d3;
    }
  }
  &:active, &:focus:active {
    &::before, &::after {
      background: $color__blue--d2;
    }
  }
  &:focus {
    &::before, &::after {
      background: $color__blue--d3;
    }
  }
}

%pop-up__wrapper--table--header {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: $margin--base;
  width: 100%;
  font-family: $normal-text__font-family;
  color: $color__black--l2;
  font-size: $normal-text__font-size--small;
  letter-spacing: 2px;
  line-height: $normal-text__line-height;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 $padding--big;
}

%pop-up__wrapper--table--row {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: $margin--base;
  width: 100%;
  margin: $margin--base 0 0 0;
  padding: 0 $padding--big;
  box-sizing: border-box;
  color: $color__black--l2;
}

%pop-up__progress {
  text-align: right;
}

%drop-file {
  font-size: 1rem;
  line-height: $normal-text__line-height;
  font-family: $normal-text__font-family;
  font-weight: $normal-text__font-weight--normal;
  text-transform: uppercase;
  color: $color__black--l2;
  letter-spacing: 2px;
  width: 100%;
  grid-column: 1/3;
  padding: $padding--big 0;
  text-align: center;
  border: 1px dashed $color__black--l4;
  background-color: $color__white--d2;
  box-sizing: border-box;
}

%downloading-files {
  grid-column: 1/3;
  border: 1px solid $color__black--l5;
  background-color: $color__white--d2;
  padding: $padding--big 0;
  margin-bottom: $margin--big;
  box-sizing: border-box;
}

%user-list {

  display: block;
  list-style: none;
  padding: 0;
}

%user-item {
  display: block;
  opacity: 1;
  overflow: hidden;
  transition: opacity 1s ease-out;
  margin: 0 auto $margin--base;
  border: 1px solid $color__white--d3;
  border-radius: $border-radius;
  grid-template-columns: 38% auto;
  grid-auto-flow: column;
  border: 1px solid rgba(128, 128, 128, 0.05);
  border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  padding: $padding--base $padding__big;
  background-color: rgba($color__white--d2, $opacity--bg);
}

%user-header {
  display: block;
  margin-bottom: 0;
  font-size: $h3--font-size;
  line-height: $h3--line-height;
  font-family: $header-text__font-family;
  font-weight: $header-text__font-weight--bold;
  grid-column: 1;
  grid-row: 1;
}

%user-text {
  @extend %text;
  margin-right: $margin--base;
}

%user-text--important {
  @extend %text--bold;
}

%container--user-info {
  display: block;
  width: 100%;
}
