    /*
    Flaticon icon font: Flaticon
    Creation date: 27/02/2018 07:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/assets/font/Flaticon.eot");
  src: url("/assets/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/Flaticon.woff") format("woff"),
       url("/assets/font/Flaticon.ttf") format("truetype"),
       url("/assets/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/font/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-interface-2:before { content: "\f100"; }
.flaticon-clock-1:before { content: "\f101"; }
.flaticon-interface-1:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-tool:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-note:before { content: "\f106"; }
.flaticon-credit-card:before { content: "\f107"; }
.flaticon-computer:before { content: "\f108"; }
.flaticon-technology:before { content: "\f109"; }
.flaticon-file:before { content: "\f10a"; }
.flaticon-clock:before { content: "\f10b"; }
.flaticon-arrows:before { content: "\f10c"; }

    $font-Flaticon-interface-2: "\f100";
    $font-Flaticon-clock-1: "\f101";
    $font-Flaticon-interface-1: "\f102";
    $font-Flaticon-business: "\f103";
    $font-Flaticon-tool: "\f104";
    $font-Flaticon-interface: "\f105";
    $font-Flaticon-note: "\f106";
    $font-Flaticon-credit-card: "\f107";
    $font-Flaticon-computer: "\f108";
    $font-Flaticon-technology: "\f109";
    $font-Flaticon-file: "\f10a";
    $font-Flaticon-clock: "\f10b";
    $font-Flaticon-arrows: "\f10c";
