/* Fonts*/

$font-size--zoom--100: 16px;
$font-size--zoom--125: 13px;
$font-size--zoom--150: 11px;

$header-text__font-family: 'Roboto Slab', serif;
$header-text__font-weight--bold: 700;
$header-text__font-weight--light: 100;
$header-text__letter-spacing: 2px;
$normal-text__font-family: 'Roboto', sans-serif;
$normal-text__font-weight--normal: 300;
$normal-text__font-weight--bold: 500;
$normal-text__margin: 1rem 0 1rem;
$normal-text__line-height: 1.6rem;
$normal-text__font-size: 1rem;
$normal-text__font-size--small: .8rem;

$h1--font-size: 3rem;
$h2--font-size: 2rem;
$h3--font-size: 1.4rem;
$h4--font-size: 1.4rem;
$h5--font-size: 1.4rem;

$h1--margin: 4rem 0 3rem;
$h2--margin: 3rem 0 1.5rem;
$h3--margin: 2rem 0 1rem;
$h4--margin: 2rem 0 1rem;
$h5--margin: 2rem 0 1rem;

$h1--line-height: 3.5rem;
$h2--line-height: 2.5rem;
$h3--line-height: 1.8rem;
$h4--line-height: 1.8rem;
$h5--line-height: 1.8rem;

/* Colors */

$color__base--white: #ffffff;
$color__base--blue: #3399ff;
$color__base--black: #292f36;

$color__black--l1: #3C4148;
$color__black--l2: #63676C;
$color__black--l3: #B1B3B5;
$color__black--l4: #C6C7C9;
$color__black--l5: #D4D5D6;

$color__blue--d3: #13385D;
$color__blue--d2: #2A7ED1;
$color__blue--d1: #2F8CE8;

$color__blue--l1: #45A2FF;
$color__blue--l2: #58ABFF;
$color__blue--l3: #8FC7FF;

$color__white--d1: #f0f0ee;
$color__white--d2: #e8e8e6;
$color__white--d3: #dededc;

$color__white--light: transparentize($color__base--white, .62);

/* Margin's */

$margin--base: 1rem;
$margin--small: 0.5rem;
$margin--tiny: 2px;
$margin--big: 2rem;
$margin--huge: 4rem;

/* Padding's */

$padding--base: 1rem;
$padding--small: 0.5rem;
$padding--tiny: 2px;
$padding--big: 2rem;
$padding--huge: 4rem;

/* Opacity */

$opacity--hover: .85;
$opacity--active: .68;
$opacity--bg: .92;
$opacity--shadow: .2;

/* Media Queries */

$mq__mobile--end: 768px;

$mq__tablet--start: 768px;
$mq__tablet--finish: 992px;

$mq__desktop--start: 992px;
$mq__desktop--finish: 1200px;

$mq__desktop-huge--start: 1200px;

$mq__full--hd: 1920px;

/* Max width */

$max-width: 1400px;

/* Border-radius */

$border-radius: 6px;

/* Buttons */

$btn__border-radius--top-left: 6px;
$btn__border-radius--top-right: 6px;
$btn__border-radius--bottom-left: 6px;
$btn__border-radius--bottom-right: 6px;
$btn__background: $color__base--blue;
$btn__background--hover: $color__blue--d1;
$btn__background--active: $color__blue--d2;
$btn__padding: .5rem 1rem;
$btn__padding--v: .5rem;
$btn__padding--h: 1rem;
$btn__padding--v--big: 1rem;
$btn__padding--h--big: 2rem;
$btn__font-size: .8rem;
$btn__font-family: $normal-text__font-family;
$btn__font-weight: $normal-text__font-weight--bold;
$btn__letter-space: 2px;
$btn__color: $color__base--white;
$btn__transform: uppercase;

/* Times */

$times--elements: .06 ease-in-out;

/* Icons */

$icon--size: .9rem;
$icon--margin--right: .5rem;
$icon-middle--size: 1.4rem;
$icon-middle--margin--right: 1rem;
$icon-big--size: 4rem;
$icon-big--margin--right: 2rem;
