@import '../../../sass/variables';
@import '../../../sass/base';
@import '../../../sass/mixins';

.block__page--startup{
  display: block;
  transition: all .68s ease-out;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding-top: $padding__huge;
}


.container{
  @extend %layout__container;
  padding: $padding__big;
  .header{
    display: block;
    margin: $h1--margin;
    font-size: $h1--font-size;
    line-height: $h1--line-height;
    font-family: $header-text__font-family;
    font-weight: $header-text__font-weight--bold;
    color: $color__base--black;
  }

  .text--promo{
    @extend %text--promo;
    color: $color__base--black;
    max-width: 60%;
  }
}

.cards--service{
  @extend %layout__wrapper;
  margin-bottom: $margin__huge;
  .container{
    @extend %layout__container;
    .cards{
      @extend %layout__cards--3;
      margin-top: $margin__huge;
      .card{
        @extend %card;
        background: $color__white--d3;
      }
      .header{
        @extend %card__header;
        color: $color__base--black;
      }
      .btn{
        @extend %card__btn;
      }
    }

  }
}

