<div class="block__page--startup">
  <div class="container">
    <h1 class="header">Начало бизнеса</h1>
    <h3 class="text--promo">Комплексные решения и точеные действия для запуска бизнеса.</h3>
  </div>
  <div class="cards--service">
    <div class="container">
      <div class="cards">
        <div class="card">
          <h2 class="header">Детектив</h2>
          <a class="btn" >Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>
