<div class="block__task">
  <div class="container">

    <div class="container--btns">
      <a *ngIf="this.taskState === 'createTask'" class="btn--big"
         routerLink="/account/order/{{this.orderService.order._id}}">назад</a>
      <a *ngIf="this.taskState === 'viewTask'" class="btn--big" routerLink="/account/tasks-list">назад</a>
      <div>
        <button class="btn--big" *ngIf="this.taskState === 'viewTask' &&
            this.taskStatus !== 'Выполнено' &&
            this.taskStatus !== 'Отменено в связи с ошибкой в задаче'" (click)="cancelTask()">Ошибка в задаче
        </button>
        <button class="btn--big" *ngIf="this.taskState === 'viewTask' &&
         this.taskStatus !== 'Отменено в связи с ошибкой в задаче' &&
         this.taskStatus !== 'Принято в работу' &&
            this.taskStatus !== 'Выполнено'" (click)="startWorking()">Принять в работу
        </button>
        <button class="btn--big" *ngIf="this.taskState === 'viewTask' &&
        this.taskStatus === 'Принято в работу'"
                (click)="finishTask()">Отметить выполненной
        </button>
        <button class="btn--big" *ngIf="(this.taskState === 'viewTask' && this.taskStatus === 'Выполнено') ||
(this.taskState === 'viewTask' && this.taskStatus === 'Отменено в связи с ошибкой в задаче') "
                (click)="againTask()">Вернуть в работу
        </button>
      </div>
    </div>

    <h1 *ngIf="this.taskState === 'createTask'" class="header--task">Поставить задачу</h1>
    <h1 *ngIf="this.taskState === 'viewTask'" class="header--task">{{this.taskService.task.taskName}}</h1>
    <div class="container--info--task" *ngIf="this.taskState === 'createTask'">
      <span class="info"><b class="info--important">название заказа:</b> {{this.orderService.order.orderName}}</span>
      <span class="info"><b class="info--important">e-mail клиента:</b> {{this.userService.user.userEmail}}</span>
      <span class="info"><b class="info--important">ID ЗАКАЗА:</b> #{{this.orderService.order._id}}</span>
      <span class="info"><b class="info--important">ID клиента:</b>#{{this.userService.user._id}}</span>
      <!--TODO: change to Data Create-->
      <span class="info"><b
        class="info--important">срок выполнения заказа:</b> 3 дня (заявка получена {{this.taskService.task.taskDataOpened  | date:"dd.MM.yyyy"}})</span>
      <span class="info"><b class="info--important">цена заказа:</b> {{this.orderService.order.orderCost}} ₽</span>
    </div>

    <div class="task" *ngIf="this.taskState === 'createTask'">
      <form class="form" #TaskPageFormNew="ngForm" novalidate>
        <label class="label" for="taskFormName">Введите название задачи</label>
        <input class="input"
               [(ngModel)]="taskName"
               name="taskFormName"
               id="taskFormName"
               #taskFormName="ngModel"
               type="text"
               required/>
        <label class="label" for="taskFormExecutorId">Выберите исполнителя для задачи</label>
        <select class="input--select" [(ngModel)]="taskExecutorId" id="taskFormExecutorId"
                name="taskFormExecutorId">
          <option *ngFor="let user of listOfEmployees" [value]="user._id">{{user.userDepartment}} – {{user.userName}}
          </option>
        </select>
        <label class="label" for="taskFormDeadline">Укажите дату выполнения (формата 01.01.18)</label>
        <input class="input"
               name="taskFormDeadline"
               id="taskFormDeadline"
               [(ngModel)]="taskDeadline"
               #taskFormDeadline="ngModel"
               type="email"
               required
        />
        <label class="label" for="taskPriority">Выберите приоритет</label>
        <select class="input--select"
                id="taskPriority"
                name="taskPriority"
                [(ngModel)]="taskPriority">
          <option *ngFor="let taskPriorityValue of taskPrioritiesList" [value]="taskPriorityValue">
            {{taskPriorityValue}}
          </option>
        </select>
        <label class="label" for="taskFormContent">Комментарий к задаче</label>
        <textarea class="textarea"
                  [(ngModel)]="taskContent"
                  id="taskFormContent"
                  name="taskFormContent"
                  placeholder="Введите текст сообщения..."
                  rows="10"></textarea>
        <button class="btn--big"
                type="submit"
                (click)="createTask()">
          Отправить
        </button>
      </form>
    </div>

    <div class="wrapper--task" *ngIf="this.taskState === 'viewTask'">
      <div class="task__values">
        <span class="item__label">Постановщик задачи: </span>
        <span class="item__value">{{this.taskService.task.taskCreatorName}}</span>
        <span class="item__label">Приоритет: </span>
        <span class="item__value">{{this.taskService.task.taskPriority}}</span>
        <span class="item__label">Статус: </span>
        <span class="item__value">{{this.taskService.task.taskStatus}}</span>
        <span class="item__label">Срок сдачи задачи до: </span>
        <span class="item__value">{{this.taskService.task.taskDeadline}}</span>
        <span class="item__label">Комментарий к задаче: </span>
        <span class="item__value">{{this.taskService.task.taskContent}}</span>
      </div>
      <div class="task__info">
        <span class="info"><b class="info--important">название заказа:</b> {{this.taskService.task.taskTargetOrderName}}</span>
        <span class="info"><b class="info--important">e-mail клиента:</b> {{this.userService.user.userEmail}}</span>
        <span class="info"><b class="info--important">ID ЗАКАЗА:</b> #{{this.taskService.task._id}}</span>
        <span class="info"><b class="info--important">ID клиента:</b>#{{this.userService.user._id}}</span>
        <!--TODO: change to Data Create-->
        <span class="info"><b
          class="info--important">срок выполнения заказа:</b> 3 дня (заявка получена {{this.taskService.task.taskDataOpened  | date:"dd.MM.yyyy"}})</span>
        <span class="info"><b class="info--important">цена заказа:</b> {{this.orderService.order.orderCost}} ₽</span>
      </div>
    </div>
  </div>
</div>

