@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.block__task {
  @extend %layout__wrapper;
  padding: $padding--huge 0;
  .container {
    @extend %layout__container;
    min-height: 65vh;
  }
  .wrapper--task {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $margin--big;
  }
  .task__values {
    @extend %form--col--2;
    margin-top: $margin--small;
  }
  .task__info {
    padding: .5rem 2rem;
    border: 1px solid $color__white--d3;
    border-radius: $border-radius;
    background-color: rgba($color__white--d2, $opacity--bg);
    border-bottom: 1px solid rgba(128, 128, 128, 0.38);
  }
  .header--task {
    @extend %header--sub;
    margin-top: 0;
  }
  .item__label {
    @extend %label--col-2;
  }
  .item__value {
    @extend %item__value;
  }
  .container--btns {
    @extend %layout__btns;
    .btn:last-child {
      margin-right: 0;
    }
  }

  .container--message--btns {
    margin: $margin--big 0 $margin--base;
  }

  .container--info--task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $margin--base;
  }

  .btn {
    @extend %btn;

    align-self: start;
    justify-self: start;
  }

  .btn--big {
    @extend %btn--big;
    align-self: start;
    justify-self: start;
    margin-bottom: $margin--big;
    position: relative;
  }

  .info {
    @extend %card-account__info;

    display: block;
  }
  .icon-wrapper {
    @extend %card-account__icon-wrapper;
  }
  .info--important {
    @extend %card-account__info--important;
    cursor: auto;
  }

  .task {
    @extend %card-account;
    display: block;
    padding: $padding--base $padding__big;
    background-color: rgba($color__white--d2, $opacity--bg);
    margin: $margin--big 0;
  }

  .input--select {
    @extend %card-big__input--select;
    align-self: baseline;
  }

  .form {
    @extend %form--col--2;
    margin-top: $margin--base;
  }

  .creator {
    font-size: 1rem;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--normal;
    text-transform: uppercase;
    color: $color__black--l2;
    letter-spacing: 2px;
    margin: $margin--base 0;
  }

  .input {
    @extend %input;
    align-self: baseline;
  }

  .textarea {
    @extend %textarea;
  }

  .label {
    @extend %label--col-2;
  }

  .text {
    border: none;
    background: transparent;
    font-size: 1rem;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--bold;
    text-transform: uppercase;
    color: $color__black--l1;
  }

  .notes__text {
    display: block;
    font-size: $normal-text__font-size;
    line-height: $normal-text__line-height;
    font-family: $normal-text__font-family;
    font-weight: $normal-text__font-weight--normal;
    font-style: italic;
    color: $color__black--l1;
    background-color: transparent;
  }

}
