@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/base";


.block__help{
  @extend %layout__wrapper;
  .container{
    @extend %layout__container;
    min-height: 60vh;
  }
  .header{
    @extend %header--sub;
  }
}
