	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/02/2018 07:19
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-interface-2:before { content: "\f100"; }
.flaticon-clock-1:before { content: "\f101"; }
.flaticon-interface-1:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-tool:before { content: "\f104"; }
.flaticon-interface:before { content: "\f105"; }
.flaticon-note:before { content: "\f106"; }
.flaticon-credit-card:before { content: "\f107"; }
.flaticon-computer:before { content: "\f108"; }
.flaticon-technology:before { content: "\f109"; }
.flaticon-file:before { content: "\f10a"; }
.flaticon-clock:before { content: "\f10b"; }
.flaticon-arrows:before { content: "\f10c"; }