<div class="wrapper--app"
     [class.bg--account]="this.userService.user.isUserAuthenticated && route.includes('/account')"
     [class.bg--default]="route === '/' || route === '/personal' || route === '/startup' || route === '/business' || route === '/about' || route === '/login' || route === '/registration'">
  <app-menu--main [isUserAuthenticated]="this.userService.user.isUserAuthenticated"></app-menu--main>
  <app-menu--account [user]="this.userService.user"
                     [notification]="this.notificationService.notification"
                     *ngIf="this.userService.user.isUserAuthenticated && route.includes('/account')"></app-menu--account>
  <div class="container--app" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet" (activate)="onActivate($event)"></router-outlet>
  </div>
  <app-menu--footer></app-menu--footer>
</div>

