@import "../sass/variables";
@import "../sass/mixins";

.wrapper--app {
  display: block;
  width: 100%;
  min-height: 100vh;
  &.bg--default {
    background: url(/assets/img/home-page--bg--default.jpg) right top no-repeat;
  }
  &.bg--account {
    background: linear-gradient(to left top, #82c1d1,#d7dbdb);
    background-size: 200% 200%;
  }
}
.container--app{
  min-height: 90vh;
}

